@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500;700;800;900&display=swap");
/****************/
/*  Colors */
/*===================================== 
	-- initialization --
=====================================*/
/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    @extend .clear-styles;
}*/
body::-webkit-scrollbar,
.upload__img-wrap::-webkit-scrollbar,
.modal::-webkit-scrollbar,
.chat .chat-tabs .nav-pills::-webkit-scrollbar,
.table-responsive::-webkit-scrollbar,
.pricing .payment_box::-webkit-scrollbar,
.pricing.new_pricing .payment_box .table_box::-webkit-scrollbar,
.main_header .header_navbar .navbar-light .navbar-nav .search_box .search_result::-webkit-scrollbar {
  width: 8px;
  height: 4px;
}

body::-webkit-scrollbar-track,
.upload__img-wrap::-webkit-scrollbar-track,
.modal::-webkit-scrollbar-track,
.chat .chat-tabs .nav-pills::-webkit-scrollbar-track,
.table-responsive::-webkit-scrollbar-track,
.main_header .header_navbar .navbar-light .navbar-nav .search_box .search_result::-webkit-scrollbar-track,
.pricing .payment_box::-webkit-scrollbar-track,
.pricing.new_pricing .payment_box .table_box::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
}

body::-webkit-scrollbar-thumb,
.upload__img-wrap::-webkit-scrollbar-thumb,
.modal::-webkit-scrollbar-thumb,
.chat .chat-tabs .nav-pills::-webkit-scrollbar-thumb,
.table-responsive::-webkit-scrollbar-track,
.main_header .header_navbar .navbar-light .navbar-nav .search_box .search_result::-webkit-scrollbar-thumb,
.pricing .payment_box::-webkit-scrollbar-thumb,
.pricing.new_pricing .payment_box .table_box::-webkit-scrollbar-thumb {
  background: #E82A3E;
  border-radius: 20px;
}

::selection {
  background: #041D3A;
  color: #FFF;
}

/* Safari */
::-moz-selection {
  background: #041D3A;
  color: #FFF;
}

.zero {
  margin: 0;
  padding: 0;
}

/* Firefox */
:-moz-placeholder,
.form-control::-moz-placeholder {
  color: #acacac;
}

::-webkit-input-placeholder,
.form-control::-webkit-input-placeholder {
  color: #acacac;
}

:-ms-input-placeholder,
.form-control::-ms-input-placeholder {
  color: #acacac;
}

a,
a:hover,
a:link,
a:active,
a:focus,
a:visited {
  outline: none;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: inherit;
  line-height: normal;
  margin: 0;
}

*:focus {
  outline: none;
}

ul {
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  direction: ltr;
  color: #000;
  font-family: Tajawal, sans-serif;
  font-size: 16px;
  line-height: 25px;
  font-weight: 500;
  background-color: #041D3A;
  overflow-x: hidden;
  margin-top: 96px;
}
@media screen and (max-width: 991px) {
  body {
    margin-top: 67px;
  }
}
body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 35px;
  background-color: #041D3A;
  z-index: 22;
}
@media screen and (max-width: 991px) {
  body::after {
    height: 20px;
  }
}

main {
  padding-top: 35px;
  background-color: #FFF;
}

.dropdown-menu {
  left: 50% !important;
  transform: translateX(-50%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

li.dropdown .primaryBtn {
  cursor: pointer;
}
li.dropdown .primaryBtn .fa-chevron-down {
  position: relative;
  right: -6px;
  top: 3px;
}
li.dropdown .primaryBtn .profile {
  display: none;
}
@media screen and (max-width: 426px) {
  li.dropdown .primaryBtn .profile {
    display: block;
  }
}
li.dropdown .dropdown-menu {
  padding: 0;
  border-radius: 10px;
  border: 0;
  min-width: 280px;
}
@media screen and (max-width: 426px) {
  li.dropdown .dropdown-menu {
    min-width: 250px;
  }
}
li.dropdown .drop-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  padding: 15px 10px;
  border-bottom: 1px solid #e9e9e9;
}
li.dropdown .drop-link:hover {
  background: #E82A3E;
}
li.dropdown .drop-link:hover span {
  color: #FFF;
}
li.dropdown .drop-link:last-of-type {
  border-color: transparent;
}
li.dropdown .drop-link span {
  line-height: 29px;
  font-size: 15px;
  color: #000;
  margin-left: 10px;
}

.dropdown .primaryBtn {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.dropdown .primaryBtn::after {
  display: none !important;
}
.dropdown .primaryBtn .fa-chevron-down {
  position: relative;
  right: 0;
  top: 1px;
  color: #FFF;
  font-size: 10px;
}
.dropdown .primaryBtn .profile {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
.dropdown .primaryBtn .info {
  color: #FFF;
}
.dropdown .primaryBtn .info span {
  opacity: 0.3;
  font-size: 15px;
}
.dropdown .primaryBtn .info p {
  white-space: nowrap;
  max-width: 110px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.dropdown .dropdown-menu {
  padding: 0;
  border-radius: 10px;
  border: 0;
  min-width: 280px;
}
@media screen and (max-width: 426px) {
  .dropdown .dropdown-menu {
    min-width: 232px;
  }
}
.dropdown .drop-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  padding: 15px 10px;
  border-bottom: 1px solid #e9e9e9;
  position: relative;
}
.dropdown .drop-link:hover {
  background: #E82A3E;
}
.dropdown .drop-link:hover span {
  color: #FFF;
}
.dropdown .drop-link:hover span .num {
  background: #041D3A;
}
.dropdown .drop-link:first-of-type {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.dropdown .drop-link:last-of-type {
  border-color: transparent;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.dropdown .drop-link span {
  font-size: 15px;
  color: #000;
  margin-left: 10px;
}
.dropdown .drop-link span .num {
  margin: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 11px;
  background: #E82A3E;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 23px;
  top: 50%;
  transform: translateY(-50%);
  color: #FFF;
}
.dropdown .drop-link.logout {
  background: rgba(255, 19, 19, 0.0588235294);
}
.dropdown .drop-link.logout:hover {
  background: #E82A3E;
}

.dropdown-toggle::after {
  display: none;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
  box-shadow: none;
}

.p-t {
  padding-top: 50px;
}
@media screen and (max-width: 991px) {
  .p-t {
    padding-top: 0;
  }
}

.p-t-b {
  overflow: hidden;
  padding: 50px 0;
  background-color: #FFF;
}
@media screen and (max-width: 991px) {
  .p-t-b {
    padding: 30px 0;
  }
}

.p-t-0 {
  padding-top: 0;
}

.shared {
  padding: 10px 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
  min-height: 43px;
  border-radius: 28px;
  color: #FFF;
  border: 1px solid #041D3A;
  background-color: #041D3A;
  font-weight: 700;
  font-size: 12px;
  line-height: 22px;
}
.shared .iconsm {
  transition: all 0.5s ease-in-out;
  margin-left: 5px;
}
.shared.seeAll {
  display: inline-flex;
}

.primaryBtn:hover {
  background: #E82A3E;
  border-color: #E82A3E;
  color: #FFF;
}

.secondaryBtn {
  background: #E82A3E;
  color: #FFF;
  border-color: #E82A3E;
}
.secondaryBtn:hover {
  background: #041D3A;
  border-color: #041D3A;
  color: #FFF;
}

.outlineBtn {
  background: transparent;
  color: #041D3A;
  border-color: #041D3A;
}
.outlineBtn:hover {
  background: #041D3A;
  border-color: #041D3A;
  color: #FFF;
}

.desc {
  font-family: Tajawal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #929292;
}
.desc .desc * {
  font-family: Tajawal;
  line-height: 28px;
}

.proForm .form-group {
  position: relative;
  margin-bottom: 16px;
}
.proForm .form-group .keys {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 93px;
}
.proForm .form-group .keys img {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
}
.proForm .form-group .keys .form-control {
  background-color: transparent;
  border-radius: 0;
  border-color: transparent;
  border-right: 1px solid #dbdbdb;
  padding: 0;
}
.proForm .form-group.withIcon .form-control {
  padding-left: 50px;
}
.proForm .form-group.withIcon .form-control.phone {
  padding-left: 100px;
}
.proForm .form-group.withIcon .fieldIcon {
  position: absolute;
  bottom: 14px;
  left: 13px;
}
.proForm .form-group.withIcon .select2-container .select2-selection--single {
  height: 40px;
  background: #FFF;
}
.proForm .form-group.withIcon .select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 40px;
}
.proForm .form-group .form-check {
  padding-left: 30px;
}
.proForm .form-group .form-check .form-check-input {
  float: left;
  margin-left: -30px;
  box-shadow: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.proForm .form-group .form-check .form-check-input.form-check-input:checked {
  background-color: #041D3A;
  border-color: #041D3A;
}
.proForm .form-group .form-check .form-check-label {
  cursor: pointer;
}
@media screen and (max-width: 360px) {
  .proForm .form-group .form-check .form-check-label {
    font-size: 12px;
  }
}
.proForm .control-label {
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: #393939;
  margin-bottom: 12px;
}
.proForm .control-label span {
  color: #eb5757;
}
.proForm .form-control {
  background-color: #fff;
  outline: 0;
  height: 40px;
  padding: 10px 20px;
  box-shadow: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #041D3A;
  border: 1px solid #041D3A;
  border-radius: 8px;
}
.proForm .form-control::placeholder {
  font-size: 16px;
  line-height: 20px;
  color: #c4c4c4;
}
@media screen and (max-width: 576px) {
  .proForm .form-control::placeholder {
    font-size: 13px;
  }
}
.proForm .form-control:focus, .proForm .form-control:hover, .proForm .form-control:active {
  border-color: #041D3A;
}
.proForm .form-control.details {
  min-height: 130px;
  max-height: 130px;
  resize: none;
}
.proForm .note {
  font-size: 14px;
  margin-top: 14px;
}
.proForm .note span {
  color: #E82A3E;
}
.proForm .icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
}
.proForm .showPassword {
  position: absolute;
  top: 50px;
  right: 20px;
  cursor: pointer;
}
.proForm .select2-container {
  direction: ltr;
  width: 100% !important;
}
.proForm .select2-container .select2-selection--single {
  height: 40px;
  background: rgba(255, 255, 255, 0.4);
  background: #ffffff;
  border: 1px solid #041D3A;
  border-radius: 5px;
}
.proForm .select2-container .select2-selection--single .select2-selection__rendered {
  display: flex;
  align-items: center;
  line-height: normal;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  padding-left: 20px;
}
.proForm .select2-container .select2-selection--single .select2-selection__arrow {
  left: auto;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
}
.proForm .select2-container .select2-selection--single .select2-selection__arrow b {
  background-image: url("../../images/arrowDown.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: none !important;
  height: 24px !important;
  width: 24px !important;
  margin: auto !important;
  top: auto !important;
  left: auto !important;
}

.social ul {
  display: flex;
}
.social ul li {
  display: inline-block;
  text-align: center;
  margin: 0 7px;
}
.social ul li a {
  background-color: #041D3A;
  color: #FFF;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  transition: all 0.5s ease-in-out;
}
.social ul li a.youtube:hover {
  background: #ff0000 !important;
}
.social ul li a.telegram:hover {
  background: #0088cc !important;
}
.social ul li a.instagram:hover {
  background: #c13584 !important;
}
.social ul li a.twitter:hover {
  background: #1da1f2 !important;
}
.social ul li a.facebook:hover {
  background: #1877f2 !important;
}
.social ul li a.whats:hover {
  background: #25d366 !important;
}
.social ul li a.pinterest:hover {
  background: #bd081c !important;
}
.social ul li a.linkedin:hover {
  background: #0077b5 !important;
}
.social ul li a.rss:hover {
  background: #f26522 !important;
}
@media screen and (max-width: 991px) {
  .social ul li a {
    width: 30px;
    height: 30px;
    font-size: 16px;
  }
}
.social ul li a:hover {
  color: #FFF;
}
.social ul li a:hover img {
  filter: brightness(55);
}

.sec_title {
  position: relative;
  margin-bottom: 50px;
}
.sec_title .sub_title {
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  color: #041D3A;
  margin-bottom: 24px;
}
.sec_title .title {
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  color: #041D3A;
  margin-bottom: 19px;
}
.sec_title .title img {
  margin-right: 9px;
}
.sec_title .desc {
  color: #929292;
  max-width: 500px;
  margin: auto;
}
@media screen and (max-width: 991px) {
  .sec_title .desc {
    max-width: 100%;
  }
}

.main_title {
  font-family: Tajawal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 40px;
  color: #3c3c3c;
  text-align: center;
}
.main_title span {
  color: #041D3A;
}
@media screen and (max-width: 991px) {
  .main_title {
    font-size: 32px;
  }
}

.swiper-buttons {
  position: absolute;
  z-index: 99999;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  min-width: 100px;
}

.swiper-button-prev, .swiper-button-next {
  position: static;
  width: 31px;
  height: 31px;
  background: #FFF;
  border-radius: 50%;
  border: 1px solid #041D3A;
  color: #041D3A;
}
.swiper-button-prev::after, .swiper-button-next::after {
  font-size: 12px;
}
.swiper-button-prev:hover, .swiper-button-next:hover {
  background-color: #041D3A;
  color: #FFF;
}
.swiper-button-next {
  right: 30px;
}
.swiper-button-prev {
  left: 30px;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 1;
  pointer-events: all;
  cursor: pointer;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  height: 1px;
  border-radius: 0;
  width: 40px;
  background: #FFF;
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #FFF;
}

.pagination {
  padding-top: 30px;
}
@media screen and (max-width: 768px) {
  .pagination li {
    display: none;
  }
  .pagination li:first-child, .pagination li:last-child {
    display: block;
  }
}
.pagination a {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e82a3e;
  color: #FFF !important;
  font-weight: 600;
  font-size: 16px;
  margin-right: 7px;
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
}
.pagination a:hover, .pagination a.active {
  background: #041D3A;
  color: #FFF;
}

.generalTable table > :not(:first-child) {
  border: 0;
}
.generalTable table th,
.generalTable table td {
  border: 0;
  vertical-align: middle;
  width: 20%;
  min-width: 141px;
  height: 47px;
}
.generalTable table th.num,
.generalTable table td.num {
  padding-left: 28px;
}
.generalTable thead th {
  background-color: #31b979;
  color: #FFF;
  font-size: 15px;
}
.generalTable tbody tr:nth-child(even) {
  background: rgba(49, 185, 121, 0.12);
}
.generalTable tbody td.amount {
  color: #31b979;
}
.generalTable tbody td.email, .generalTable tbody td.name {
  font-family: Arial, Helvetica, sans-serif;
}

.select2-container--open .select2-dropdown--below {
  border-top: 1px solid #aaa;
  direction: ltr;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background: #041D3A;
}

.select2-container .select2-search--inline .select2-search__field {
  min-height: 40px;
  max-height: 40px;
}

.select2-container--default .select2-selection--multiple {
  display: flex;
  align-items: center;
  height: 40px;
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  display: flex;
  align-items: center;
  background: #E82A3E;
  color: #FFF;
  height: 35px;
  border-radius: 0;
  border: 0;
  padding: 0 4px;
  padding-right: 21px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  border: 0;
  color: #FFF;
  right: 0;
  top: 1px;
  font-size: 20px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
  background: transparent;
  color: #041D3A;
}

/* top top*/
.back-to-top-btn {
  position: fixed;
  bottom: 30px;
  left: 28px;
  cursor: pointer;
}
.back-to-top-btn i {
  background: #E82A3E;
  color: #FFF;
  height: 50px;
  width: 50px;
  line-height: 50px;
  display: inline-block;
  text-align: center;
  font-size: 22px;
  border-radius: 50%;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  -webkit-box-shadow: 0 0 14px 0 #E82A3E;
  box-shadow: 0 0 14px 0 #E82A3E;
}
.back-to-top-btn i:hover {
  background: #041D3A;
  color: #FFF;
  -webkit-box-shadow: 0 0 14px 0 #041D3A;
  box-shadow: 0 0 14px 0 #041D3A;
}

.whatsAppFixed {
  right: 28px;
  display: none !important;
  position: fixed;
  bottom: 30px;
  cursor: pointer;
  z-index: 10;
  color: #FFF;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 22px;
  border-radius: 50%;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  -webkit-box-shadow: 0 0 14px 0 #E82A3E;
  box-shadow: 0 0 14px 0 #E82A3E;
  background: #E82A3E;
}
.whatsAppFixed img {
  width: 30px;
}
.whatsAppFixed:hover {
  background: #000;
  color: #FFF;
  -webkit-box-shadow: 0 0 14px 0 #000;
  box-shadow: 0 0 14px 0 #000;
}

/* loading screen*/
.loader-container {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #041D3A;
  width: 100%;
  height: 100%;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  color: #fff;
  font-size: 70px;
}

.loader-16 {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  display: inline-block;
  width: 1em;
  height: 1em;
  color: inherit;
  vertical-align: middle;
  pointer-events: none;
  display: none;
}
.loader-16:before, .loader-16:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  animation: 1s spin linear infinite;
}
.loader-16:before {
  transform: rotateX(70deg);
}
.loader-16:after {
  transform: rotateY(70deg);
  animation-delay: 0.4s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}
@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}
@keyframes spin {
  0%, 100% {
    box-shadow: 0.2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 0.2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -0.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -0.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
  }
}
@-webkit-keyframes loader-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loader-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.loader {
  position: absolute;
  margin: -18px 0 0 -18px;
  border: 3.6px solid #FFF;
  box-sizing: border-box;
  overflow: hidden;
  width: 36px;
  height: 36px;
  left: 50%;
  top: 50%;
  animation: loader-spin 2s linear infinite reverse;
  -webkit-filter: url(#goo);
  filter: url(#goo);
  box-shadow: 0 0 0 1px #5fc4b4 inset;
}

.loader:before {
  content: "";
  position: absolute;
  -webkit-animation: loader-spin 2s cubic-bezier(0.59, 0.25, 0.4, 0.69) infinite;
  animation: loader-spin 2s cubic-bezier(0.59, 0.25, 0.4, 0.69) infinite;
  background: #FFF;
  -webkit-transform-origin: top center;
  transform-origin: top center;
  border-radius: 50%;
  width: 150%;
  height: 150%;
  top: 50%;
  left: -12.5%;
}

.fixed-icon {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: #25d366;
  font-size: 22px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: fixed;
  bottom: 70px;
  right: 3%;
  z-index: 999;
  transition: all 0.5s ease-in-out;
  box-shadow: 0 0 0 rgba(51, 153, 51, 0.4);
  animation: pulse 2s infinite;
}

/* SCSS 1. ADD VENDOR PREFIXES TO ANY CSS PROPERTY */
/* SCSS 2. VERTICAL CENTERING*/
/* SCSS 3. ABSOLUTE POSITIONING */
/* SCSS 4. TEXT SHORTENING*/
/* SCSS 4. TEXT SHORTENING*/
/*components*/
.main_header {
  width: 100%;
  top: 35px;
  z-index: 999;
  transition: all 0.5s ease-in-out;
  padding: 25px 0;
  position: fixed;
  background-color: #F8F8F8;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
@media screen and (max-width: 991px) {
  .main_header {
    top: 20px;
  }
}
.main_header.header-fixed {
  box-shadow: 0px 4px 16px rgba(22, 22, 22, 0.1);
  padding: 5px 0;
}
.main_header.header-fixed .header_navbar .hamburger .line {
  background-color: #E82A3E;
}
@media screen and (max-width: 991px) {
  .main_header {
    padding: 10px 0;
  }
}
.main_header .row {
  align-items: center;
}
.main_header .row .col-5 {
  text-align: right;
}
.main_header .row .logo {
  display: inline-block;
  text-align: right;
}
.main_header .row .logo img {
  width: 130px;
}
@media screen and (max-width: 991px) {
  .main_header .row .logo {
    text-align: right;
  }
}
.main_header .header_navbar .hamburger {
  display: none;
}
@media screen and (max-width: 991px) {
  .main_header .header_navbar .hamburger {
    display: inline-block;
    transform: scale(0.7);
  }
}
.main_header .header_navbar .hamburger:hover {
  cursor: pointer;
}
.main_header .header_navbar .hamburger.is-active {
  transition: all 0.3s ease-in-out;
  transition-delay: 0.6s;
  transform: rotate(45deg) scale(0.7);
}
.main_header .header_navbar .hamburger.is-active .line:nth-child(2) {
  width: 0px;
}
.main_header .header_navbar .hamburger.is-active .line:nth-child(1), .main_header .header_navbar .hamburger.is-active .line:nth-child(3) {
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.main_header .header_navbar .hamburger.is-active .line:nth-child(1) {
  -webkit-transform: translateY(13px);
  -ms-transform: translateY(13px);
  -o-transform: translateY(13px);
  transform: translateY(13px);
}
.main_header .header_navbar .hamburger.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-13px) rotate(90deg);
  -ms-transform: translateY(-13px) rotate(90deg);
  -o-transform: translateY(-13px) rotate(90deg);
  transform: translateY(-13px) rotate(90deg);
}
.main_header .header_navbar .hamburger .line {
  width: 50px;
  height: 5px;
  background-color: #E82A3E;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.main_header .header_navbar .navbar-light {
  padding: 0;
}
.main_header .header_navbar .navbar-light .navbar-brand img {
  position: absolute;
  top: -62px;
}
@media screen and (max-width: 1440px) {
  .main_header .header_navbar .navbar-light .navbar-brand img {
    top: -6px;
    width: 106px;
  }
}
@media screen and (max-width: 991px) {
  .main_header .header_navbar .navbar-light .navbar-collapse {
    position: fixed;
    overflow-y: scroll;
    height: 100%;
    top: 0;
    left: -100%;
    width: 40%;
    height: 100vh;
    border-radius: 0;
    background: #fff;
    z-index: 100;
    display: flex;
    align-items: center;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .main_header .header_navbar .navbar-light .navbar-collapse.show {
    left: 0;
  }
}
@media screen and (max-width: 768px) {
  .main_header .header_navbar .navbar-light .navbar-collapse {
    width: 60%;
  }
}
@media screen and (max-width: 576px) {
  .main_header .header_navbar .navbar-light .navbar-collapse {
    width: 86%;
  }
}
.main_header .header_navbar .navbar-light .navbar-nav .nav-item {
  position: relative;
}
@media screen and (max-width: 991px) {
  .main_header .header_navbar .navbar-light .navbar-nav .nav-item {
    text-align: center;
  }
  .main_header .header_navbar .navbar-light .navbar-nav .nav-item .shared {
    display: inline-flex;
  }
}
.main_header .header_navbar .navbar-light .navbar-nav .nav-item.dropdown {
  cursor: pointer;
}
.main_header .header_navbar .navbar-light .navbar-nav .nav-item.dropdown .dropdown-menu {
  min-width: 260px;
  background-color: #FFF;
  border-radius: 24px;
  padding: 44px 0;
  border: 0;
  box-shadow: 0px 10px 16px rgba(14, 14, 15, 0.1490196078);
}
.main_header .header_navbar .navbar-light .navbar-nav .nav-item.dropdown .dropdown-menu::after {
  content: "";
  position: absolute;
  top: -1px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #929292;
  display: none;
}
@media screen and (max-width: 991px) {
  .main_header .header_navbar .navbar-light .navbar-nav .nav-item.dropdown .dropdown-menu {
    position: absolute;
  }
}
.main_header .header_navbar .navbar-light .navbar-nav .nav-item.dropdown .dropdown-menu .logo {
  width: 137px;
  height: 23px;
  margin-bottom: 25px;
  margin-left: 40px;
  display: block;
}
.main_header .header_navbar .navbar-light .navbar-nav .nav-item.dropdown .dropdown-menu .sub_menu {
  display: none !important;
  position: absolute;
  left: auto !important;
  right: -270px !important;
  top: 0;
  transform: none;
}
@media screen and (max-width: 991px) {
  .main_header .header_navbar .navbar-light .navbar-nav .nav-item.dropdown .dropdown-menu .sub_menu {
    position: static;
  }
}
.main_header .header_navbar .navbar-light .navbar-nav .nav-item.dropdown .dropdown-menu .sub_menu.show {
  display: block !important;
}
.main_header .header_navbar .navbar-light .navbar-nav .nav-item.dropdown .dropdown-menu .drop-link {
  border: 0;
  font-size: 18px;
  line-height: 25px;
  border-radius: inherit;
  padding: 7px 6px;
  justify-content: flex-start;
  border-radius: 16px;
  color: #041D3A;
  margin: 0 12px;
}
.main_header .header_navbar .navbar-light .navbar-nav .nav-item.dropdown .dropdown-menu .drop-link img {
  margin-right: 17px;
  width: 25px;
  height: 25px;
}
.main_header .header_navbar .navbar-light .navbar-nav .nav-item.dropdown .dropdown-menu .drop-link:hover {
  box-shadow: 0px 8px 16px rgba(143, 149, 178, 0.1490196078);
  background-color: #041D3A;
  color: #FFF;
}
.main_header .header_navbar .navbar-light .navbar-nav .nav-item.dropdown .dropdown-menu .drop-link:hover img {
  filter: brightness(55);
}
.main_header .header_navbar .navbar-light .navbar-nav .nav-link {
  padding: 12px 15px;
  color: #041D3A;
  transition: all 0.3s ease-in-out;
  font-weight: 700;
  font-size: 22px;
  line-height: 19px;
  display: flex;
  align-items: center;
}
.main_header .header_navbar .navbar-light .navbar-nav .nav-link .drop-link:hover ~ .dropdown-menu {
  display: block;
}
.main_header .header_navbar .navbar-light .navbar-nav .nav-link .lang_icon {
  margin-left: 12px;
}
@media screen and (max-width: 1200px) {
  .main_header .header_navbar .navbar-light .navbar-nav .nav-link {
    font-size: 13px;
  }
}
@media screen and (max-width: 991px) {
  .main_header .header_navbar .navbar-light .navbar-nav .nav-link {
    font-size: 18px;
    text-align: center;
    padding: 17px 0;
    color: #041D3A;
    justify-content: center;
  }
}
.main_header .header_navbar .navbar-light .navbar-nav .nav-link .fa-chevron-down {
  position: relative;
  top: 1px;
  font-size: 11px;
  padding-right: 8px;
}
.main_header .header_navbar .navbar-light .navbar-nav .nav-link .fa-search {
  font-size: 16px;
}
@media screen and (max-width: 991px) {
  .main_header .header_navbar .navbar-light .navbar-nav .nav-link .fa-search {
    font-size: 18px;
  }
}
.main_header .header_navbar .navbar-light .navbar-nav .nav-link.active, .main_header .header_navbar .navbar-light .navbar-nav .nav-link:hover {
  color: #E82A3E;
}
@media screen and (max-width: 991px) {
  .main_header .header_navbar .navbar-light .navbar-nav {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding-top: 50px;
  }
}
.main_header .header_navbar .navbar-light .navbar-nav .searchIcon {
  cursor: pointer;
}
.main_header .header_navbar .navbar-light .navbar-nav .search_box {
  padding: 50px 0;
  display: none;
  padding: 15px;
  position: absolute;
  width: 420px;
  margin-top: 50px;
  z-index: 40;
  right: 0;
  background: #FFF;
  border-radius: 5px;
  border: 1px solid #E82A3E;
  box-shadow: 5px 5px 30px 5px rgba(219, 42, 53, 0.2);
}
@media screen and (max-width: 991px) {
  .main_header .header_navbar .navbar-light .navbar-nav .search_box {
    right: auto;
    left: 50%;
    transform: translateX(-50%);
  }
}
.main_header .header_navbar .navbar-light .navbar-nav .search_box .search_result {
  margin-top: 15px;
  max-height: 200px;
  overflow-y: auto;
}
.main_header .header_navbar .navbar-light .navbar-nav .search_box .search_result li a {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  display: block;
  padding: 10px 16px;
}
.main_header .header_navbar .navbar-light .navbar-nav .search_box .search_result li a:hover {
  background-color: #E82A3E;
  color: #FFF;
}
@media screen and (max-width: 991px) {
  .main_header .header_navbar .navbar-light .navbar-nav .search_box {
    margin-top: 0;
    width: 95%;
  }
}
.main_header .header_navbar .navbar-light .navbar-nav .search_box .proForm {
  box-shadow: 0px 0px 40px rgba(23, 96, 135, 0.1019607843);
}
@media screen and (max-width: 991px) {
  .main_header .header_navbar .navbar-light .navbar-nav .search_box .proForm {
    box-shadow: 0px 0px 13px rgba(23, 96, 135, 0.3411764706);
  }
}
.main_header .header_navbar .navbar-light .navbar-nav .search_box .proForm .form-group .form-control {
  height: 65px;
  background-color: #FFF;
  color: #000;
  padding-left: 40px;
}
.main_header .header_navbar .navbar-light .navbar-nav .search_box .proForm .form-group .form-control::placeholder {
  color: #000;
}
.main_header .header_navbar .navbar-light .navbar-nav .search_box .proForm .form-group .form-control:focus, .main_header .header_navbar .navbar-light .navbar-nav .search_box .proForm .form-group .form-control:hover {
  border-color: #041D3A;
}
.main_header .header_navbar .navbar-light .navbar-nav .search_box .proForm .form-group i,
.main_header .header_navbar .navbar-light .navbar-nav .search_box .proForm .form-group img {
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  position: absolute;
}
.main_header .header_navbar .navbar-light .navbar-nav .search_box .proForm .form-group .primaryBtn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  min-width: auto;
}

.over-nav {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 55;
  background: rgba(0, 0, 0, 0.3);
  display: none;
}
.over-nav.is-active {
  display: block;
}

.over-search {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  display: none;
  z-index: 30;
}
.over-search.is-active {
  display: block;
}
@media screen and (max-width: 991px) {
  .over-search.is-active {
    display: none;
  }
}

footer {
  background-color: #0D2346;
  position: relative;
  padding-bottom: 30px;
}
footer .footer_logo {
  text-align: center;
  background-color: #F8F8F8;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 40px 5px;
  margin-bottom: 200px;
  position: relative;
  top: -1px;
}
@media screen and (max-width: 991px) {
  footer .footer_logo {
    margin-bottom: 100px;
  }
}
footer .download {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
@media screen and (max-width: 991px) {
  footer .download {
    justify-content: center;
  }
}
footer .download li:not(:last-of-type) {
  margin-right: 15px;
}
footer .download li img {
  height: 40px;
}
footer .phone_content {
  text-align: right;
}
footer .phone_content h3 {
  color: #FFF;
  margin-bottom: 15px;
}
footer .phone_content > div {
  display: flex;
  justify-content: flex-end;
  color: #FFF;
}
footer .phone_content > div span {
  padding: 0 8px;
}
footer .phone_content > div a {
  color: #FFF;
  transition: all 0.3s ease-in-out;
  direction: ltr;
}
footer .phone_content > div a:hover {
  color: #E82A3E;
}
footer .privacy {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 991px) {
  footer .privacy {
    justify-content: center;
  }
}
footer .privacy .privacy_ul {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 991px) {
  footer .privacy .privacy_ul {
    justify-content: center;
  }
}
footer .privacy .privacy_ul li {
  position: relative;
}
@media screen and (max-width: 576px) {
  footer .privacy .privacy_ul li {
    margin-bottom: 5px;
  }
}
footer .privacy .privacy_ul li:not(:last-of-type) {
  margin-right: 24px;
}
footer .privacy .privacy_ul li:not(:last-of-type)::after {
  content: "";
  position: absolute;
  right: -11px;
  top: 0;
  height: 100%;
  width: 1px;
  background-color: #FFF;
}
@media screen and (max-width: 991px) {
  footer .privacy .privacy_ul li:not(:last-of-type) {
    margin-right: 15px;
  }
}
footer .privacy .privacy_ul li a {
  font-family: Tajawal;
  font-weight: 400;
  line-height: 22px;
  color: #FFF;
  transition: all 0.3s ease-in-out;
}
footer .privacy .privacy_ul li a:hover {
  color: #E82A3E;
}
footer .social ul {
  justify-content: center;
}
@media screen and (max-width: 991px) {
  footer .social ul {
    margin: 15p 0x;
  }
}
footer .social li {
  margin: 0;
}
footer .social li:not(:last-of-type) {
  margin-right: 24px;
}
@media screen and (max-width: 991px) {
  footer .social li:not(:last-of-type) {
    margin-right: 15px;
  }
}
footer .social li a {
  width: auto;
  height: 37px;
  background-color: transparent;
  border: 0;
  font-size: 25px;
  color: #FFF;
}
footer .social li a:hover {
  color: #E82A3E;
}
footer .copyRights {
  color: #FFF;
  font-size: 14px;
  text-align: right;
}
@media screen and (max-width: 991px) {
  footer .copyRights {
    text-align: center;
  }
}

.donaite-card {
  background-color: #E3F5F5;
  margin-bottom: 24px;
  border-radius: 6px;
  display: block;
}
.donaite-card .donaite-image {
  height: 240px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  display: block;
  overflow: hidden;
}
.donaite-card .donaite-image img {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  transition: all 0.5s ease-in-out;
  width: 100%;
  height: 100%;
}
.donaite-card .text {
  padding: 16px;
}
.donaite-card .text .details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 15px;
}
.donaite-card .text .details .num {
  font-family: Tajawal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #041D3A;
}
.donaite-card .text .details .m_actions {
  display: flex;
  flex-wrap: wrap;
}
.donaite-card .text .details .m_actions li:not(:last-of-type) {
  margin-right: 8px;
}
.donaite-card .text .details .m_actions li .shared {
  min-height: 33px;
  padding: 8px 14px;
}
.donaite-card .text .details .m_actions li .shared::after {
  top: 7px;
}
.donaite-card .text .details .m_actions li .shared.blackBtn::after, .donaite-card .text .details .m_actions li .shared.blackBtn::before {
  background-color: #E82A3E;
}
.donaite-card .text .details .m_actions li .shared.blackBtn:hover {
  background-color: #E82A3E;
}
.donaite-card .text .name {
  font-family: Tajawal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #465151;
  display: inline-block;
}
.donaite-card:hover .donaite-image img {
  transform: scale(1.05);
}

.breadCrumb {
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  height: 540px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
@media screen and (max-width: 991px) {
  .breadCrumb {
    height: 296px;
  }
}
.breadCrumb .content {
  display: inline-block;
  position: relative;
  margin-bottom: 70px;
}
@media screen and (max-width: 991px) {
  .breadCrumb .content {
    margin-bottom: 40px;
  }
}
.breadCrumb .content::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 28px;
  background-color: #041D3A;
}
.breadCrumb .content h3 {
  font-family: Tajawal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #FFF;
  position: relative;
  z-index: 2;
  padding: 0 36px;
}
@media screen and (max-width: 991px) {
  .breadCrumb .content h3 {
    font-size: 25px;
  }
}
.breadCrumb p {
  font-family: Tajawal;
  font-weight: 400;
  font-size: 50px;
  line-height: 60px;
  color: #FFF;
}
@media screen and (max-width: 576px) {
  .breadCrumb p {
    font-size: 30px;
    line-height: 45px;
  }
}

.login_page {
  padding-top: 48px;
}
.login_page .pattern {
  position: fixed;
  opacity: 0.7;
}
.login_page .pattern.top {
  top: 0;
  right: 0;
}
.login_page .pattern.bottom {
  bottom: 0;
  left: 0;
}
.login_page .container {
  position: relative;
  z-index: 2;
}
.login_page .row {
  padding: 50px 0;
  align-items: center;
}
@media screen and (max-width: 991px) {
  .login_page .img {
    text-align: center;
    width: 320px;
    margin: auto;
    margin-bottom: 25px;
  }
}
.login_page .proForm .text .title {
  font-family: Tajawal;
  font-weight: 400;
  font-size: 44px;
  line-height: 55px;
  color: #E82A3E;
}
.login_page .proForm .text .desc {
  font-family: Tajawal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #929292;
  margin: 16px 0;
}
.login_page .proForm .text .havAcc {
  font-family: Tajawal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFF;
  margin-bottom: 30px;
}
.login_page .proForm .text .havAcc .link {
  color: #929292;
}
.login_page .proForm .text .form-group .form-label {
  font-family: Tajawal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFF;
  margin-bottom: 12px;
}
.login_page .proForm .text .form-group .form-control {
  padding: 8px 0px 8px 12px;
  height: 41px;
  background: rgba(110, 124, 135, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  font-family: Tajawal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba(255, 255, 255, 0.8);
}
.login_page .proForm .text .form-group .form-control::placeholder {
  font-family: Tajawal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba(255, 255, 255, 0.8);
}
.login_page .proForm .text .fogetPass {
  font-family: Tajawal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FFF;
  margin-bottom: 24px;
}
.login_page .proForm .text .fogetPass .link {
  color: #1877F2;
}
.login_page .proForm .text .submit {
  width: 100%;
  padding: 14px 8px;
  min-height: 47px;
  background: #465151;
  border-radius: 4px;
  font-family: Tajawal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFF;
}
.login_page .proForm .text .submit:hover {
  background-color: #E82A3E;
}
.login_page .proForm .text .or {
  text-align: center;
  position: relative;
  margin: 24px 0;
}
.login_page .proForm .text .or::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  top: 50%;
  height: 1px;
  width: 100%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.6);
}
.login_page .proForm .text .or span {
  background-color: #041D3A;
  color: #FFF;
  padding: 0 24px;
  position: relative;
  z-index: 2;
}
.login_page .proForm .text .social_login {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.login_page .proForm .text .social_login li {
  width: 48%;
}
.login_page .proForm .text .social_login .btn {
  padding: 12px 8px;
  min-height: 44px;
  background: #FFFFFF;
  border-radius: 4px;
  width: 100%;
}
.login_page .proForm .text .social_login .btn .btn_icon {
  margin-right: 8px;
}
.login_page .proForm .text .social_login .btn.facebook {
  background-color: #1877F2;
  color: #FFF;
}
.login_page .proForm .text .social_login .btn:hover {
  opacity: 0.8;
}
.login_page .proForm .text .shared {
  min-height: 43px;
  width: 100%;
}

/*pages*/
.main-slider {
  overflow: hidden;
  position: relative;
  background-color: #FFF;
  background-image: url("../../images/sliderBG.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.main-slider .swiper-slide {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50% 85%;
  background-position: right;
  height: 80vh;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 991px) {
  .main-slider .swiper-slide {
    background-image: none !important;
    height: 400px;
  }
}
@media screen and (max-width: 576px) {
  .main-slider .swiper-slide {
    height: 350px;
  }
}
@media screen and (max-width: 991px) {
  .main-slider .swiper-slide .slider-content {
    padding: 0 20px;
    text-align: center;
  }
}
.main-slider .swiper-slide .slider-content h1 {
  font-family: Tajawal;
  font-weight: 700;
  font-size: 37px;
  line-height: 40px;
  margin-bottom: 16px;
  letter-spacing: 0px;
  color: #041D3A;
}
@media screen and (max-width: 991px) {
  .main-slider .swiper-slide .slider-content h1 {
    font-size: 30px;
  }
}
@media screen and (max-width: 768px) {
  .main-slider .swiper-slide .slider-content h1 {
    font-size: 22px;
    line-height: 30px;
  }
}
.main-slider .swiper-slide .slider-content .m_actions {
  display: flex;
  margin-top: 20px;
}
@media screen and (max-width: 991px) {
  .main-slider .swiper-slide .slider-content .m_actions {
    justify-content: center;
  }
}
.main-slider .swiper-slide .slider-content .m_actions li:not(:last-of-type) {
  margin-right: 10px;
}
.main-slider .swiper-slide .slider-content .m_actions li .shared {
  min-height: 41px;
  min-width: 125px;
}
@media screen and (min-width: 991px) {
  .main-slider .swiper-slide .slider-content .m_actions li .shared {
    font-size: 16px;
  }
}
.main-slider .swiper-slide .slider-content .m_actions li .shared::after {
  top: 7px;
}
.main-slider .swiper-buttons {
  position: relative;
  transform: none;
  min-width: 70px;
  width: 70px;
}
.main-slider .swiper-buttons {
  bottom: 114px;
  right: auto;
  left: 0;
}
@media screen and (max-width: 991px) {
  .main-slider .swiper-buttons {
    position: absolute;
    right: auto;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
  }
}
.main-slider.main_section.our_products {
  background-color: transparent;
  background-image: none;
  background-position: right;
  position: relative;
  padding: 50px 0;
}
@media screen and (max-width: 991px) {
  .main-slider.main_section.our_products {
    background-image: none !important;
  }
}
.main-slider.main_section.our_products::after {
  content: "";
  background-image: url("../../images/sliderBG.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  right: 82px;
  width: 50%;
  height: 100%;
}
.main-slider.main_section.our_products .single_product {
  background-color: transparent;
  position: relative;
  z-index: 2;
}
.main-slider.main_section.our_products .single_product .text .sub_title {
  color: #041D3A;
}
.main-slider.main_section.our_products .single_product .download {
  display: flex;
  align-items: center;
  margin: 40px 0 25px;
}
@media screen and (max-width: 991px) {
  .main-slider.main_section.our_products .single_product .download {
    justify-content: center;
  }
}
.main-slider.main_section.our_products .single_product .download li:not(:last-of-type) {
  margin-right: 15px;
}
.main-slider.main_section.our_products .single_product .download li img {
  height: 40px;
}
.main-slider.main_section.our_products .single_product .zaka_logo {
  display: inline-block;
  max-width: 200px;
}
.main-slider.main_section.our_products.with_img::after {
  height: 85vh;
}
.main-slider.main_section.our_products.with_img .img {
  height: 85vh;
  text-align: right;
}
.main-slider.main_section.our_products.with_img .img img {
  height: 100%;
}
.main-slider.main_section.our_products.with_img.hero_op_slider .img img {
  width: 80%;
  height: auto;
}
@media screen and (max-width: 991px) {
  .main-slider.main_section.our_products.with_img.hero_op_slider .img img {
    width: 100%;
  }
}
.main-slider.main_section.our_products.with_img.waiters_slider .single_product {
  align-items: flex-start;
}
.main-slider.main_section.our_products.with_img.waiters_slider .single_product .text .sub_title {
  margin-top: 20px;
}

.sec1 .pattern {
  text-align: center;
  margin-bottom: 50px;
}
.sec1 .images .large_image {
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  height: 775px;
  max-height: 902px;
}
@media screen and (max-width: 991px) {
  .sec1 .images .large_image {
    width: 100%;
    height: 350px;
    border-radius: 20px;
    margin-top: 20px;
  }
}
.sec1 .images .large_image img {
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 991px) {
  .sec1 .images .large_image img {
    border-radius: 20px;
  }
}
.sec1 .images .small_image {
  border-top-left-radius: 40px;
  margin-bottom: 20px;
  height: 350px;
  max-height: 445px;
}
@media screen and (max-width: 991px) {
  .sec1 .images .small_image {
    width: 100%;
    height: 250px;
  }
}
.sec1 .images .small_image img {
  border-top-left-radius: 40px;
  height: 100%;
}
@media screen and (max-width: 991px) {
  .sec1 .images .small_image img {
    width: 100%;
    height: 250px;
    border-radius: 20px;
  }
}
.sec1 .images .text {
  background-color: #4F9FB7;
  border-bottom-left-radius: 40px;
  padding: 50px;
  padding-right: 20px;
  height: 404px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 991px) {
  .sec1 .images .text {
    border-radius: 20px;
  }
}
.sec1 .images .text .title {
  color: #FFF;
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 50px;
}
.sec1 .images .text .desc {
  color: #FFF;
  font-size: 14px;
  height: 95px;
  overflow: hidden;
}
.sec1.anaylsis {
  background-color: #F8F8F8;
}
.sec1.anaylsis .images .large_image {
  border-radius: 0;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}
@media screen and (max-width: 991px) {
  .sec1.anaylsis .images .large_image {
    border-radius: 20px;
  }
}
.sec1.anaylsis .images .large_image img {
  border-radius: 0;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}
@media screen and (max-width: 991px) {
  .sec1.anaylsis .images .large_image img {
    border-radius: 20px;
  }
}
.sec1.anaylsis .images .small_image {
  border-radius: 0;
  border-top-right-radius: 40px;
}
.sec1.anaylsis .images .small_image img {
  border-radius: 0;
  border-top-right-radius: 40px;
}
@media screen and (max-width: 991px) {
  .sec1.anaylsis .images .small_image img {
    border-radius: 20px;
  }
}
.sec1.anaylsis .images .text {
  background-color: #4F9FB7;
  border-radius: 0;
  border-bottom-right-radius: 40px;
  padding-right: 20px;
}
@media screen and (max-width: 991px) {
  .sec1.anaylsis .images .text {
    border-radius: 20px;
  }
}
.sec1.finance {
  margin-top: 80px;
}

.our_products {
  background-color: #F8F8F8;
}
.our_products .single_product {
  background-color: #FFF;
  border-radius: 28px;
  margin-bottom: 30px;
  align-items: center;
}
@media screen and (max-width: 991px) {
  .our_products .single_product {
    text-align: center;
  }
}
.our_products .single_product .col-lg-6 {
  padding: 0;
}
.our_products .single_product .text {
  padding: 20px 40px;
}
.our_products .single_product .text .sub_title {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: #E82A3E;
  font-weight: 500;
}
@media screen and (max-width: 991px) {
  .our_products .single_product .text .sub_title {
    justify-content: center;
  }
}
.our_products .single_product .text .sub_title img {
  margin-left: 8px;
}
.our_products .single_product .text .title {
  font-weight: 700;
  color: #041D3A;
  line-height: 40px;
  margin: 20px 0;
}
.our_products .m_actions {
  display: flex;
  margin-top: 20px;
}
@media screen and (max-width: 991px) {
  .our_products .m_actions {
    justify-content: center;
    margin-bottom: 15px;
  }
}
.our_products .m_actions li:not(:last-of-type) {
  margin-right: 10px;
}
.our_products .m_actions li .shared {
  min-height: 41px;
  min-width: 133px;
}
@media screen and (min-width: 991px) {
  .our_products .m_actions li .shared {
    font-size: 16px;
  }
}
.our_products .m_actions li .shared::after {
  top: 7px;
}

.solutions {
  background-color: #041D3A;
}
.solutions .sec_title .title {
  color: #FFF;
}
.solutions .solution {
  text-align: center;
  background-color: #FFF;
  border-radius: 50px;
  padding: 50px;
  margin-bottom: 20px;
  color: #000;
  min-height: 260px;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 1200px) {
  .solutions .solution {
    padding: 20px;
  }
}
.solutions .solution .title {
  font-weight: 700;
  margin: 10px 0;
  font-size: 16px;
}
.solutions .solution .desc {
  color: #000;
  transition: all 0.3s ease-in-out;
}
.solutions .solution:hover {
  transform: translateY(-10px);
  background-color: #E82A3E;
  color: #FFF;
}
.solutions .solution:hover img {
  filter: brightness(55);
}
.solutions .solution:hover .desc {
  color: #FFF;
}
.solutions.anaylsis {
  background-color: #FFF;
}
.solutions.anaylsis .sec_title .title {
  color: #041D3A;
}
.solutions.anaylsis .solution {
  background-color: #4F9FB7;
  padding: 30px;
}
.solutions.anaylsis .solution .title {
  color: #FFF;
}
.solutions.anaylsis .solution .desc {
  text-align: left;
  color: #FFF;
}
.solutions.anaylsis .solution .list {
  text-align: left;
  padding-left: 25px;
  margin-top: 15px;
}
.solutions.anaylsis .solution .list .list_item {
  color: #FFF;
  margin-bottom: 5px;
}
.solutions.anaylsis .solution:hover {
  background-color: #041D3A;
}
.solutions.print {
  background-color: #F8F8F8;
}
@media screen and (max-width: 991px) {
  .solutions.print .sec_title {
    text-align: center;
  }
}
.solutions.delivary {
  background-color: transparent;
}
.solutions.delivary .sec_title .title {
  color: #041D3A;
}
.solutions.delivary .items {
  background-color: #4F9FB7;
  padding-top: 50px;
}

.quick_contact {
  background-color: #FFF;
}
@media screen and (max-width: 991px) {
  .quick_contact {
    text-align: center;
  }
}
.quick_contact .text .title {
  font-weight: 700;
  margin: 50px 0;
  font-size: 40px;
}
@media screen and (max-width: 1200px) {
  .quick_contact .text .title {
    margin: 20px 0;
    font-size: 25px;
  }
}
.quick_contact .proForm {
  background-color: #F8F8F8;
  border-radius: 40px;
  padding: 60px;
}
@media screen and (max-width: 1200px) {
  .quick_contact .proForm {
    padding: 25px;
  }
}
.quick_contact .proForm .iconType {
  margin-bottom: 25px;
}
.quick_contact .proForm .iconType.last {
  margin-top: 40px;
}
@media screen and (max-width: 991px) {
  .quick_contact .proForm .iconType.last {
    margin-top: 25px;
  }
}
.quick_contact .proForm .shared {
  display: inline-flex;
  min-width: 133px;
  margin-top: 40px;
}
@media screen and (min-width: 991px) {
  .quick_contact .proForm .shared {
    font-size: 16px;
  }
}

.app {
  background-color: #4F9FB7;
}
@media screen and (max-width: 991px) {
  .app {
    padding-top: 30px;
  }
}
.app .text .title {
  font-weight: 700;
  margin-bottom: 50px;
  font-size: 40px;
  color: #FFF;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  .app .text .title {
    margin-bottom: 20px;
    font-size: 25px;
  }
}
.app .text .download {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}
.app .text .download li:not(:last-of-type) {
  margin-right: 15px;
}
@media screen and (max-width: 991px) {
  .app .img {
    text-align: center;
  }
  .app .img img {
    width: 50%;
  }
}

.clinets .swiper-container {
  overflow: hidden;
}
.clinets .swiper-slide {
  text-align: center;
}

.contact_us .custom_form {
  background-color: #F8F8F8;
  border-radius: 40px;
  display: flex;
}
@media screen and (max-width: 991px) {
  .contact_us .custom_form {
    display: block;
  }
}
.contact_us .custom_form .contact_text {
  min-width: 495px;
  background-color: #4F9FB7;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 991px) {
  .contact_us .custom_form .contact_text {
    min-width: auto;
    padding: 25px;
  }
}
.contact_us .custom_form .contact_text .title {
  color: #FFF;
  font-size: 45px;
  font-weight: 700;
  margin-top: 10px;
}
@media screen and (max-width: 991px) {
  .contact_us .custom_form .contact_text .title {
    font-size: 25px;
  }
}
.contact_us .custom_form .contact_text .phone_content {
  display: flex;
  justify-content: center;
  color: #FFF;
}
.contact_us .custom_form .contact_text .phone_content span {
  padding: 0 8px;
}
.contact_us .custom_form .contact_text .phone_content a {
  color: #FFF;
  transition: all 0.3s ease-in-out;
  direction: ltr;
  font-size: 18px;
}
.contact_us .custom_form .contact_text .phone_content a:hover {
  color: #E82A3E;
}

.sec2 {
  background-color: #FFF;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}
.sec2::after {
  content: url("../../images/sliderBG.png");
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.sec2 .content {
  position: relative;
  z-index: 2;
  align-items: center;
  margin-bottom: 170px;
}
@media screen and (max-width: 991px) {
  .sec2 .content {
    margin-bottom: 70px;
    text-align: center;
  }
}
@media screen and (max-width: 991px) {
  .sec2 .content .text {
    margin: 30px 0;
  }
}
.sec2 .content .text .title {
  font-size: 40px;
  font-weight: 700;
  color: #041D3A;
}
.sec2 .content .text .desc {
  color: #212121;
  font-size: 18px;
}

.features {
  background-color: transparent;
}
.features .sec_title .title {
  color: #041D3A;
}
.features .solution {
  text-align: center;
  margin-bottom: 60px;
}
@media screen and (max-width: 991px) {
  .features .solution {
    margin-bottom: 40px;
  }
}
.features .solution .icon {
  margin-bottom: 20px;
}

.hero_op .sec_title .desc {
  margin: 0;
  max-width: 100%;
}
.hero_op .container > .row .row {
  position: relative;
}
.hero_op .container > .row .row div {
  position: relative;
  z-index: 2;
}
.hero_op .container > .row .row .img {
  text-align: center;
}
.hero_op .container > .row .row::after {
  content: "";
  background-image: url("../../images/sliderBG.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  position: absolute;
  top: 0;
  left: 14%;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 991px) {
  .hero_op .container > .row .row::after {
    display: none;
  }
}

.hr.BG {
  background-color: #F8F8F8;
}
.hr .solution .title {
  font-size: 22px;
  color: #041D3A;
  font-weight: bold;
  margin-bottom: 30px;
}
.hr .solution .desc {
  font-size: 22px;
  color: #041D3A;
}

.waiters .img {
  min-height: 350px;
  display: flex;
  align-items: center;
}

.table_number .sec_title {
  text-align: left;
}
@media screen and (max-width: 991px) {
  .table_number .sec_title {
    text-align: center;
    margin-top: 25px;
  }
}
.table_number.outdoor_table .sec_title .title {
  margin-bottom: 40px;
}
.table_number.outdoor_table .img {
  border-radius: 26px;
}
.table_number.outdoor_table .img img {
  border-radius: 26px;
}
.table_number.outdoor_table.solutions .sec_title .desc {
  color: #FFF;
}

.se1_bg {
  background-color: #F8F8F8;
}

@media screen and (max-width: 991px) {
  .towers .tower {
    margin-bottom: 40px;
  }
}
.towers .tower .img {
  text-align: center;
  min-height: 450px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 50px;
}
@media screen and (max-width: 991px) {
  .towers .tower .img {
    min-height: auto;
    margin-bottom: 20px;
  }
}
.towers .tower .sec_title {
  margin-bottom: 0;
}

.upgrad__box {
  position: relative;
  padding: 80px 0;
  width: 86%;
}
@media screen and (max-width: 991px) {
  .upgrad__box {
    width: 100%;
  }
}
.upgrad__box * {
  position: relative;
  z-index: 2;
}
.upgrad__box::after {
  content: "";
  background-image: url("../../images/sliderBG.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.space_white {
  background-color: #FFF;
  height: 100px;
}
@media screen and (max-width: 991px) {
  .space_white {
    height: 40px;
  }
}

.pricing {
  position: relative;
  padding: 50px 0;
  background-color: #fff;
}
.pricing .pricing_container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media screen and (max-width: 991px) {
  .pricing .pricing_container {
    display: block;
  }
}
.pricing .price_div {
  width: calc(100% - 300px);
}
@media screen and (max-width: 991px) {
  .pricing .price_div {
    width: 100%;
  }
}
.pricing .h2_title {
  color: #041D3A;
  font-size: 50px;
}
@media screen and (max-width: 576px) {
  .pricing .h2_title {
    font-size: 30px;
  }
}
.pricing .h2_title span {
  font-weight: 700;
}
.pricing .tags {
  display: flex;
  flex-wrap: wrap;
  margin: 40px 0;
}
@media screen and (max-width: 576px) {
  .pricing .tags {
    margin: 20px 0;
  }
}
.pricing .tags .tag {
  border-radius: 6px;
  border: 1px solid #bebcbc;
  color: #bebcbc;
  text-align: center;
  padding: 7px;
  margin-bottom: 5px;
}
.pricing .tags .tag:not(:last-of-type) {
  margin-right: 12px;
}
.pricing .tags .tag.active {
  color: #041D3A;
  border-color: #041D3A;
}
.pricing .products .product {
  padding: 36px 0;
}
.pricing .products .product .container {
  position: relative;
}
.pricing .products .product .container::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: #68c8de;
}
.pricing .products .product .title {
  font-size: 35px;
  color: #041D3A;
  margin-bottom: 15px;
}
@media screen and (max-width: 576px) {
  .pricing .products .product .title {
    font-size: 20px;
  }
}
.pricing .products .product .title span {
  font-weight: 700;
}
.pricing .products .product .form-group {
  display: flex;
  align-items: center;
}
.pricing .products .product .form-group .form-control {
  width: 105px;
  height: 40px;
  margin-right: 8px;
}
.pricing .products .product .form-group .amount {
  font-size: 14px;
  color: #041D3A;
}
.pricing .products .product .form-group .amount span {
  font-weight: 700;
}
.pricing .products .product .items {
  display: flex;
  flex-wrap: wrap;
}
.pricing .products .product .items .item {
  display: flex;
  align-items: center;
  border: 1px solid #041D3A;
  border-radius: 8px;
  padding: 12px;
  min-width: 320px;
  margin-bottom: 12px;
  cursor: pointer;
}
@media screen and (max-width: 360px) {
  .pricing .products .product .items .item {
    min-width: 300px;
  }
}
.pricing .products .product .items .item:not(:last-of-type) {
  margin-right: 12px;
}
.pricing .products .product .items .item .img {
  min-width: 56px;
  margin-right: 8px;
}
.pricing .products .product .items .item .text {
  width: calc(100% - 35px);
}
.pricing .products .product .items .item .item_head {
  display: flex;
  justify-content: space-between;
}
.pricing .products .product .items .item .item_head .item_title {
  font-size: 18px;
  color: #041D3A;
}
.pricing .products .product .items .item .item_head .item_title span {
  font-weight: 700;
}
.pricing .products .product .items .item .item_head .form-check {
  padding: 0;
  min-width: 25px;
  display: flex;
  justify-content: flex-end;
}
.pricing .products .product .items .item .item_head .form-check .form-check-input {
  margin: 0;
  cursor: pointer;
  box-shadow: none;
}
.pricing .products .product .items .item .item_head .form-check .form-check-input:checked {
  background-color: #E82A3E;
  border-color: #E82A3E;
}
.pricing .products .product .items .item .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pricing .products .product .items .item .info .amount {
  font-size: 14px;
  color: #041D3A;
}
.pricing .products .product .items .item .info .amount span {
  font-weight: 700;
}
.pricing .products .product .items .item .info .fa-question-circle {
  color: #68c8de;
}
.pricing .products .product.even, .pricing .products .product:nth-child(even) {
  background-color: #f8f8f8;
}
.pricing .payment_box {
  position: sticky;
  min-width: 300px;
  width: 400px;
  top: 150px;
  left: 0;
  background-color: #FFF;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1607843137), 0px -4px 20px rgba(0, 0, 0, 0.1607843137);
  border-radius: 19px;
  padding: 30px;
  height: 80vh;
  overflow-y: auto;
}
@media screen and (max-width: 991px) {
  .pricing .payment_box {
    position: static;
    margin: 40px auto;
    height: auto;
  }
}
@media screen and (max-width: 576px) {
  .pricing .payment_box {
    min-width: unset;
    width: auto;
  }
}
.pricing .payment_box .nav-pills {
  margin-bottom: 40px;
  justify-content: space-between;
}
@media screen and (max-width: 576px) {
  .pricing .payment_box .nav-pills {
    display: block;
  }
}
.pricing .payment_box .nav-pills .nav-item:not(:last-of-type) {
  margin-left: 10px;
}
@media screen and (max-width: 576px) {
  .pricing .payment_box .nav-pills .nav-item:not(:last-of-type) {
    margin-left: 0;
  }
}
@media screen and (max-width: 576px) {
  .pricing .payment_box .nav-pills .nav-item {
    margin: 0 0 5px 0;
  }
}
.pricing .payment_box .nav-pills .nav-item .nav-link {
  border: 1px solid #707070;
  border-radius: 21px;
  color: #707070;
  min-width: 132px;
  padding: 5px;
  font-size: 20px;
  font-weight: 700;
}
.pricing .payment_box .nav-pills .nav-item .nav-link.active {
  color: #FFF;
  background-color: #E82A3E;
  border-color: #E82A3E;
}
@media screen and (max-width: 576px) {
  .pricing .payment_box .nav-pills .nav-item .nav-link {
    width: 100%;
  }
}
.pricing .payment_box .content .list_items {
  margin-bottom: 50px;
}
.pricing .payment_box .content .list_items .item {
  border: 1px solid #041D3A;
  color: #041D3A;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 5px 15px;
}
.pricing .payment_box .content .list_items .item .title {
  font-size: 20px;
  font-weight: 700;
}
.pricing .payment_box .content .list_items .item .price {
  font-size: 25px;
  font-weight: 700;
}
.pricing .payment_box .content .Subtotal {
  text-align: center;
  font-size: 18px;
}
.pricing .payment_box .content .Subtotal span {
  font-weight: 700;
  font-size: 20px;
  padding-right: 8px;
}
.pricing .payment_box .content .tottal {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  border-top: 1px solid #707070;
  padding-top: 25px;
  margin-top: 25px;
}
.pricing .payment_box .content .tottal span {
  font-size: 30px;
}
.pricing .payment_box .content .proForm {
  margin-top: 50px;
}
.pricing .payment_box .content .proForm .form-group {
  position: relative;
}
.pricing .payment_box .content .proForm .form-group .mandatory {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -10px;
  color: #E82A3E;
}
.pricing .payment_box .content .proForm .form-group .shared {
  width: 100%;
  border-radius: 25px;
  background-color: #18c488;
  border-color: #18c488;
  color: #FFF;
}
.pricing .payment_box .content .proForm .form-group .shared:hover {
  background-color: #E82A3E;
  border-color: #E82A3E;
}

.pricing.new_pricing .container-fluid {
  width: 98%;
}
.pricing.new_pricing .price_div {
  width: calc(100% - 424px);
}
@media screen and (max-width: 991px) {
  .pricing.new_pricing .price_div {
    width: 100%;
  }
}
.pricing.new_pricing .products {
  border-radius: 14px;
  border: 1px solid #73cce6;
  margin-bottom: 30px;
}
.pricing.new_pricing .products .product {
  padding: 8px;
  padding-left: 20px;
}
@media screen and (max-width: 991px) {
  .pricing.new_pricing .products .product {
    padding-left: 20px;
  }
}
.pricing.new_pricing .products .product .items .item {
  display: block;
  min-width: auto;
  width: 32%;
}
@media screen and (max-width: 991px) {
  .pricing.new_pricing .products .product .items .item {
    width: 48%;
  }
}
@media screen and (max-width: 576px) {
  .pricing.new_pricing .products .product .items .item {
    width: 100%;
  }
}
.pricing.new_pricing .products .product .items .item .img {
  min-width: 35px;
  width: 35px;
}
.pricing.new_pricing .products .product .items .item .top {
  display: flex;
  align-items: center;
}
.pricing.new_pricing .products .product .items .item .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}
.pricing.new_pricing .products .product .items .item .bottom .form-group {
  margin-bottom: 0;
}
.pricing.new_pricing .products .product .items .item .bottom .form-group .form-control {
  width: 57px;
  height: 27px;
  padding: 5px;
  text-align: center;
}
.pricing.new_pricing .products .product .items .item .bottom .form-group .note {
  color: #041D3A;
  margin: 0;
  font-size: 11px;
}
.pricing.new_pricing .products .product .items .item .bottom .fa-question-circle {
  color: #68c8de;
}
.pricing.new_pricing .products .sub_products {
  background-color: #f8f8f8;
  border: 1px solid #73cce6;
  border-radius: 14px;
  padding: 8px;
  padding-left: 20px;
}
@media screen and (max-width: 991px) {
  .pricing.new_pricing .products .sub_products {
    padding-left: 20px;
  }
}
.pricing.new_pricing .products .sub_products .top_sub {
  display: flex;
  justify-content: space-between;
}
.pricing.new_pricing .products .sub_products .top_sub .title {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.pricing.new_pricing .products .sub_products .top_sub .title img {
  width: 35px;
}
.pricing.new_pricing .products .sub_products .top_sub .title p {
  margin-left: 10px;
  font-size: 30px;
}
@media screen and (max-width: 991px) {
  .pricing.new_pricing .products .sub_products .top_sub .title p {
    font-size: 20px;
  }
}
@media screen and (max-width: 576px) {
  .pricing.new_pricing .products .sub_products .top_sub .title p {
    font-size: 16px;
  }
}
.pricing.new_pricing .products .sub_products .top_sub .title p span {
  font-weight: bold;
}
.pricing.new_pricing .products .sub_products .top_sub .form-check {
  padding: 0;
  display: flex;
  flex-direction: column;
}
.pricing.new_pricing .products .sub_products .top_sub .form-check .form-check-input {
  margin: 0 0 5px 0;
  cursor: pointer;
  box-shadow: none;
}
.pricing.new_pricing .products .sub_products .top_sub .form-check .form-check-input:checked {
  background-color: #E82A3E;
  border-color: #E82A3E;
}
.pricing.new_pricing .products .sub_products .top_sub .fa-question-circle {
  color: #68c8de;
}
.pricing.new_pricing .products .sub_products .yearly_price {
  display: flex;
  align-items: center;
  color: #041D3A;
  margin-bottom: 15px;
}
.pricing.new_pricing .products .sub_products .yearly_price .form-control {
  width: 134px;
  height: 46px;
  padding: 5px;
  text-align: center;
}
.pricing.new_pricing .products .sub_products .yearly_price p {
  color: #041D3A;
  font-size: 25px;
  padding-left: 10px;
}
.pricing.new_pricing .products .sub_products .yearly_price p span {
  font-weight: bold;
}
.pricing.new_pricing .products .sub_products .product {
  padding: 0;
}
.pricing.new_pricing .products .sub_products .product .items .item {
  cursor: auto;
}
.pricing.new_pricing .products .sub_products .product .items .item .fa-question-circle {
  color: #68c8de;
}
.pricing.new_pricing .products.single {
  border-color: #041D3A;
}
.pricing.new_pricing .products.single .sub_products {
  padding: 0;
  border: 0;
  background-color: transparent;
}
.pricing.new_pricing .products.single .sub_products .product {
  background-color: transparent;
}
.pricing.new_pricing .products.single .sub_products .product .items .item {
  width: auto;
  min-width: 288px;
  max-width: 50%;
}
@media screen and (max-width: 991px) {
  .pricing.new_pricing .products.single .sub_products .product .items .item {
    max-width: 100%;
    width: 48%;
  }
}
@media screen and (max-width: 576px) {
  .pricing.new_pricing .products.single .sub_products .product .items .item {
    width: 100%;
    min-width: auto;
  }
}
.pricing.new_pricing .payment_box {
  background: #ffffff;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1607843137);
  position: sticky;
  top: 100px;
  height: auto;
  overflow: hidden;
}
@media screen and (max-width: 991px) {
  .pricing.new_pricing .payment_box {
    position: static;
    height: auto;
  }
}
.pricing.new_pricing .payment_box .table_box {
  max-height: 170px;
  overflow-y: auto;
}
.pricing.new_pricing .payment_box .table-responsive .table > :not(:first-child) {
  border: 0px !important;
}
.pricing.new_pricing .payment_box .table-responsive .table th {
  border-bottom-width: 0px !important;
  border-bottom-color: transparent;
}
.pricing.new_pricing .payment_box .table-responsive .table td {
  vertical-align: middle;
  border-bottom-color: #e2e2e2;
}
.pricing.new_pricing .payment_box .table-responsive .table td .item {
  display: flex;
  align-items: center;
}
.pricing.new_pricing .payment_box .table-responsive .table td .item .img {
  border-radius: 10px;
}
.pricing.new_pricing .payment_box .table-responsive .table td .item .img img {
  min-width: 25px;
  width: 25px;
}
.pricing.new_pricing .payment_box .table-responsive .table td .item p {
  color: #041D3A;
  font-weight: 400;
  padding-left: 5px;
}
.pricing.new_pricing .payment_box .numbers {
  padding: 15px;
}
.pricing.new_pricing .payment_box .numbers .subtotal {
  color: #041D3A;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.pricing.new_pricing .payment_box .numbers .subtotal span {
  font-size: 18px;
  font-weight: bold;
}
.pricing.new_pricing .payment_box .numbers .discount_input {
  position: relative;
}
.pricing.new_pricing .payment_box .numbers .discount_input .invalid_message {
  display: none;
  color: #ef4350;
}
.pricing.new_pricing .payment_box .numbers .discount_input .valid_icon {
  display: none;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.pricing.new_pricing .payment_box .numbers .discount_input .form-control {
  border-style: dashed;
  border-radius: 0;
  border-color: #707070;
  border-width: 0.5px;
  color: #778baa;
}
.pricing.new_pricing .payment_box .numbers .discount_input .form-control::placeholder {
  color: #778baa;
}
.pricing.new_pricing .payment_box .numbers .discount_input .btn {
  position: absolute;
  bottom: 3px;
  right: 10px;
  color: #ef4350;
  font-size: 15px;
  font-weight: 600;
}
.pricing.new_pricing .payment_box .numbers .discount_input.is-invalid .invalid_message {
  display: block;
  text-align: center;
}
.pricing.new_pricing .payment_box .numbers .discount_input.is-invalid .form-control {
  border-color: #ef4350;
  color: #ef4350;
}
.pricing.new_pricing .payment_box .numbers .discount_input.is-valid .form-control {
  border-color: #0f7e03;
  color: #0f7e03;
}
.pricing.new_pricing .payment_box .numbers .discount_input.is-valid .valid_icon {
  display: block;
}
.pricing.new_pricing .payment_box .numbers .action_btn {
  margin: 15px 0;
}
.pricing.new_pricing .payment_box .numbers .action_btn .btn {
  width: 100%;
  background-color: #078d26;
  border-color: #078d26;
  text-transform: uppercase;
  font-size: 18px;
  min-height: 29px;
  line-height: 12px;
}
.pricing.new_pricing .payment_box .numbers .action_btn .btn:hover {
  background-color: #041D3A;
  border-color: #041D3A;
  color: #FFF;
}
.pricing.new_pricing .payment_box .content .subtotal {
  text-align: center;
  font-size: 18px;
}
.pricing.new_pricing .payment_box .content .subtotal span {
  font-weight: 700;
  font-size: 20px;
  padding-right: 8px;
}
.pricing.new_pricing .payment_box .content .tottal {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  border-top: 1px solid #707070;
  padding-top: 25px;
  margin-top: 25px;
}
.pricing.new_pricing .payment_box .content .tottal span {
  font-size: 30px;
}
.pricing.new_pricing .payment_box .content .proForm {
  margin-top: 50px;
}
.pricing.new_pricing .payment_box .content .proForm .form-group {
  position: relative;
}
.pricing.new_pricing .payment_box .content .proForm .form-group .mandatory {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -10px;
  color: #E82A3E;
}
.pricing.new_pricing .payment_box .content .proForm .form-group .shared {
  width: 100%;
  border-radius: 25px;
  background-color: #18c488;
  border-color: #18c488;
  color: #FFF;
}
.pricing.new_pricing .payment_box .content .proForm .form-group .shared:hover {
  background-color: #E82A3E;
  border-color: #E82A3E;
}

.tooltip.bs-tooltip-top .tooltip-arrow {
  border-color: #fff;
}
.tooltip.bs-tooltip-top .tooltip-inner {
  background-color: #fff;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3019607843);
  border: 1px solid #041d3a;
  color: #041D3A;
  padding: 10px;
}