.breadCrumb {
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    height: 540px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    @include max992 {
        height: 296px;
    }
    .content {
        display: inline-block;
        position: relative;
        margin-bottom: 70px;
        @include max992 {
            margin-bottom: 40px;
        }
        &::after {
            content: "";
            position: absolute;
            bottom: -5px;
            left: 0;
            width: 100%;
            height: 28px;
            background-color: $primary-color;
        }
        h3 {
            font-family: $tajwal;
            font-weight: 700;
            font-size: 40px;
            line-height: 48px;
            color: $white;
            position: relative;
            z-index: 2;
            padding: 0 36px;
            @include max992 {
                font-size: 25px;
            }
        }
    }
    p {
        font-family: $tajwal;
        font-weight: 400;
        font-size: 50px;
        line-height: 60px;
        color: $white;
        @include max576 {
            font-size: 30px;
            line-height: 45px;
        }
    }
}
