footer {
    background-color: #0D2346;
    position: relative;
    padding-bottom: 30px;

    .footer_logo {
        text-align: center;
        background-color: #F8F8F8;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        padding: 40px 5px;
        margin-bottom: 200px;
        position: relative;
        top: -1px;

        @include max992 {
            margin-bottom: 100px;
        }
    }

    .download {
        display: flex;
        align-items: center;
        margin-bottom: 25px;

        @include max992 {
            justify-content: center;
        }

        li {
            &:not(:last-of-type) {
                margin-#{$right}: 15px;
            }

            img {
                height: 40px;
            }
        }
    }

    .phone_content {
        text-align: #{$right};
        h3 {
            color: #FFF;
            margin-bottom: 15px;
        }
        > div {
            display: flex;
            justify-content: flex-end;
            color: #FFF;
            span {
                padding: 0 8px;
            }
            a {
                color: #FFF;
                transition: all 0.3s ease-in-out;
                direction: ltr;
                &:hover {
                    color: $secondary-color;
                }
            }
        }
    }

    .privacy {
        display: flex;
        align-items: center;

        @include max992 {
            justify-content: center;
        }



        .privacy_ul {
            display: flex;
            flex-wrap: wrap;

            @include max992 {
                justify-content: center;
            }

            li {
                position: relative;

                @include max576 {
                    margin-bottom: 5px;
                }

                &:not(:last-of-type) {
                    margin-#{$right}: 24px;

                    &::after {
                        content: "";
                        position: absolute;
                        #{$right}: -11px;
                        top: 0;
                        height: 100%;
                        width: 1px;
                        background-color: $white;
                    }

                    @include max992 {
                        margin-#{$right}: 15px;

                    }
                }

                a {
                    font-family: $tajwal;
                    font-weight: 400;
                    line-height: 22px;
                    color: $white;
                    transition: all 0.3s ease-in-out;

                    &:hover {
                        color: $secondary-color;
                    }
                }
            }
        }
    }

    .social {
        ul {
            justify-content: center;

            @include max992 {
                margin: 15p 0x;
            }
        }

        li {
            margin: 0;

            &:not(:last-of-type) {

                margin-#{$right}: 24px;

                @include max992 {
                    margin-#{$right}: 15px;

                }
            }

            a {
                width: auto;
                height: 37px;
                background-color: transparent;
                border: 0;
                font-size: 25px;
                color: $white;

                &:hover {
                    color: $secondary-color;
                }
            }
        }
    }

    .copyRights {
        color: $white;
        font-size: 14px;
        text-align: #{$right};
        @include max992 {
            text-align: center;
        }
    }

}