.main_header {
    width: 100%;
    top: 35px;
    z-index: 999;
    transition: all 0.5s ease-in-out;
    padding: 25px 0;
    position: fixed;
    background-color: #F8F8F8;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

    @include max992 {
        top: 20px;
    }

    &.header-fixed {
        // background-color: $primary-color;
        box-shadow: 0px 4px 16px rgba(22, 22, 22, 0.1);
        // top: 0; 
        padding: 5px 0;

        .header_navbar {
            .hamburger {
                .line {
                    background-color: $secondary-color;
                }
            }
        }
    }

    @include max992 {
        padding: 10px 0;
    }

    .row {
        align-items: center;

        .col-5 {
            text-align: #{$right};

        }

        .logo {
            display: inline-block;
            text-align: #{$right};

            img {
                width: 130px;
            }

            @include max992 {
                text-align: #{$right};
            }
        }
    }

    .header_navbar {
        .hamburger {
            display: none;

            @include max992 {
                display: inline-block;
                transform: scale(0.7);
            }

            &:hover {
                cursor: pointer;
            }

            &.is-active {
                transition: all 0.3s ease-in-out;
                transition-delay: 0.6s;
                transform: rotate(45deg) scale(0.7);

                .line {
                    &:nth-child(2) {
                        width: 0px;
                    }

                    &:nth-child(1),
                    &:nth-child(3) {
                        -webkit-transition-delay: 0.3s;
                        -o-transition-delay: 0.3s;
                        transition-delay: 0.3s;
                    }

                    &:nth-child(1) {
                        -webkit-transform: translateY(13px);
                        -ms-transform: translateY(13px);
                        -o-transform: translateY(13px);
                        transform: translateY(13px);
                    }

                    &:nth-child(3) {
                        -webkit-transform: translateY(-13px) rotate(90deg);
                        -ms-transform: translateY(-13px) rotate(90deg);
                        -o-transform: translateY(-13px) rotate(90deg);
                        transform: translateY(-13px) rotate(90deg);
                    }
                }
            }

            .line {
                width: 50px;
                height: 5px;
                background-color: $secondary-color;
                display: block;
                margin: 8px auto;
                -webkit-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
            }
        }

        .navbar-light {
            padding: 0;

            .navbar-brand {
                img {
                    position: absolute;
                    top: -62px;

                    // width: 169px;
                    @include max1440 {
                        top: -6px;
                        width: 106px;
                    }
                }
            }

            .navbar-collapse {

                @include max992 {
                    position: fixed;
                    overflow-y: scroll;
                    height: 100%;
                    top: 0;
                    #{$left}: -100%;
                    width: 40%;
                    height: 100vh;
                    border-radius: 0;
                    background: #fff;
                    z-index: 100;
                    display: flex;
                    align-items: center;
                    -moz-transition: all 0.5s ease-in-out;
                    -webkit-transition: all 0.5s ease-in-out;
                    -o-transition: all 0.5s ease-in-out;
                    transition: all 0.5s ease-in-out;

                    &.show {
                        #{$left}: 0;
                    }
                }

                @include max768 {
                    width: 60%;
                }

                @include max576 {
                    width: 86%;
                }
            }

            .navbar-nav {
                .nav-item {
                    position: relative;

                    @include max992 {
                        text-align: center;

                        .shared {
                            display: inline-flex;
                        }
                    }

                    &.dropdown {
                        cursor: pointer;

                        .dropdown-menu {
                            min-width: 260px;
                            background-color: $white;
                            border-radius: 24px;
                            padding: 44px 0;
                            border: 0;
                            box-shadow: 0px 10px 16px #0E0E0F26;

                            &::after {
                                content: "";
                                position: absolute;
                                top: -1px;
                                left: 50%;
                                transform: translateX(-50%);
                                width: 0;
                                height: 0;
                                border-left: 10px solid transparent;
                                border-right: 10px solid transparent;
                                border-bottom: 10px solid $primary-400;
                                display: none;
                            }

                            @include max992 {
                                position: absolute;

                            }

                            .logo {
                                width: 137px;
                                height: 23px;
                                margin-bottom: 25px;
                                margin-#{$left}: 40px;
                                display: block;
                            }

                            .sub_menu {
                                display: none !important;

                                position: absolute;
                                #{$left}: auto !important;

                                #{$right}: -270px !important;
                                top: 0;
                                transform: none;

                                @include max992 {
                                    position: static;
                                }

                                &.show {
                                    display: block !important;
                                }

                            }

                            .drop-link {
                                border: 0;
                                font-size: 18px;
                                line-height: 25px;
                                border-radius: inherit;
                                padding: 7px 6px;
                                justify-content: flex-start;
                                border-radius: 16px;
                                color: #041D3A;
                                margin: 0 12px;

                                img {
                                    margin-#{$right}: 17px;
                                    width: 25px;
                                    height: 25px;
                                }

                                &:hover {
                                    box-shadow: 0px 8px 16px #8F95B226;
                                    background-color: #041D3A;
                                    color: $white;

                                    img {
                                        filter: brightness(55);
                                    }
                                }

                                // &:hover~ul {
                                //     display: block !important;
                                // }
                            }

                        }
                    }

                }

                .nav-link {
                    padding: 12px 15px;
                    color: $primary-color;
                    transition: all 0.3s ease-in-out;
                    font-weight: 700;
                    font-size: 22px;
                    line-height: 19px;
                    display: flex;
                    align-items: center;

                    .drop-link:hover~.dropdown-menu {
                        display: block;
                    }

                    .lang_icon {
                        margin-#{$left}: 12px;
                    }

                    @include max1200 {
                        font-size: 13px;
                    }

                    @include max992 {
                        font-size: 18px;
                        text-align: center;
                        padding: 17px 0;
                        color: $primary-color;
                        justify-content: center;
                    }

                    .fa-chevron-down {
                        position: relative;
                        top: 1px;
                        font-size: 11px;
                        padding-#{$right}: 8px;
                    }

                    .fa-search {
                        font-size: 16px;

                        @include max992 {
                            font-size: 18px;
                        }
                    }

                    &.active,
                    &:hover {
                        color: $secondary-color;
                    }
                }

                @include max992 {
                    width: 100%;
                    height: 100%;
                    overflow-y: auto;
                    padding-top: 50px;
                }

                .searchIcon {
                    cursor: pointer;
                }

                .search_box {
                    padding: 50px 0;
                    display: none;
                    padding: 15px;
                    position: absolute;
                    width: 420px;
                    margin-top: 50px;
                    z-index: 40;
                    #{$right}: 0;
                    // transform: translateX(-50%);
                    background: $white;
                    border-radius: 5px;
                    border: 1px solid $secondary-color;
                    box-shadow: 5px 5px 30px 5px rgba(219, 42, 53, 0.2);

                    @include max992 {
                        right: auto;
                        left: 50%;
                        transform: translateX(-50%);

                    }

                    .search_result {
                        margin-top: 15px;
                        max-height: 200px;
                        overflow-y: auto;


                        li {
                            a {
                                font-weight: 600;
                                font-size: 16px;
                                line-height: 20px;
                                color: $black;
                                display: block;
                                padding: 10px 16px;

                                &:hover {
                                    background-color: $secondary-color;
                                    color: $white;
                                }
                            }
                        }
                    }

                    @include max992 {
                        margin-top: 0;
                        width: 95%;
                    }

                    .proForm {
                        box-shadow: 0px 0px 40px #1760871a;

                        @include max992 {
                            box-shadow: 0px 0px 13px #17608757;
                        }

                        .form-group {
                            .form-control {
                                height: 65px;
                                background-color: $white;
                                color: $black;
                                padding-#{$left}: 40px;

                                &::placeholder {
                                    color: $black;
                                }

                                &:focus,
                                &:hover {
                                    border-color: $primary-color;
                                }
                            }

                            i,
                            img {
                                top: 50%;
                                transform: translateY(-50%);
                                #{$left}: 12px;
                                position: absolute;
                            }

                            .primaryBtn {
                                position: absolute;
                                #{$right}: 10px;
                                top: 50%;
                                transform: translateY(-50%);
                                min-width: auto;
                            }
                        }
                    }
                }
            }
        }
    }

    // .aside-action {
    //     list-style: none;
    //     display: flex;
    //     align-items: center;
    //     justify-content: flex-end;
    //     width: 100%;

    //     .shared {
    //         @include max1200 {
    //             padding: 11px 12px;
    //         }
    //     }
    // }


}

.over-nav {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 55;
    background: rgba(0, 0, 0, 0.3);
    display: none;

    &.is-active {
        display: block;
    }
}

.over-search {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 30;

    &.is-active {
        display: block;

        @include max992 {
            display: none;
        }
    }
}