.login_page {
    padding-top: 48px;
    .pattern {
        position: fixed;

        opacity: 0.7;

        &.top {
            top: 0;
            #{$right}: 0;
        }

        &.bottom {
            bottom: 0;
            #{$left}: 0;
        }
    }

    .container {
        position: relative;
        z-index: 2;
    }

    .row {
        padding: 50px 0;
        align-items: center;
    }
    .img {
        @include max992 {
            text-align: center;
            width: 320px;
            margin: auto;
            margin-bottom: 25px;
        }
    }
    .proForm {
        .text {
            .title {
                font-family: $tajwal;
                font-weight: 400;
                font-size: 44px;
                line-height: 55px;
                color: $secondary-color;
            }

            .desc {
                font-family: $tajwal;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: $primary-400;
                margin: 16px 0;
            }

            .havAcc {
                font-family: $tajwal;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: $white;
                margin-bottom: 30px;

                .link {
                    color: $primary-400;
                }
            }


            .form-group {
                .form-label {
                    font-family: $tajwal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 17px;
                    color: $white;
                    margin-bottom: 12px;
                }

                .form-control {
                    padding: 8px 0px 8px 12px;
                    height: 41px;
                    background: rgba(110, 124, 135, 0.4);
                    border: 1px solid rgba($color: $white, $alpha: 0.8);
                    border-radius: 4px;
                    font-family: $tajwal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                    color: rgba($color: $white, $alpha: 0.8);

                    &::placeholder {
                        font-family: $tajwal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 17px;
                        color: rgba($color: $white, $alpha: 0.8);
                    }
                }
            }

            .fogetPass {
                font-family: $tajwal;
                font-weight: 400;
                font-size: 12px;
                line-height: 15px;
                color: $white;
                margin-bottom: 24px;
                .link {
                    color: #1877F2;
                }
            }

            .submit {
                width: 100%;
                padding: 14px 8px;
                min-height: 47px;
                background: #465151;
                border-radius: 4px;
                font-family: $tajwal;
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
                color: $white;

                &:hover {
                    background-color: $secondary-color;
                }
            }

            .or {
                text-align: center;
                position: relative;
                margin: 24px 0;

                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    top: 50%;
                    height: 1px;
                    width: 100%;
                    transform: translateY(-50%);
                    background-color: rgba($color: $white, $alpha: 0.6);
                }

                span {
                    background-color: $primary-color;
                    color: $white;
                    padding: 0 24px;
                    position: relative;
                    z-index: 2;
                }
            }

            .social_login {
                display: flex;
                flex-wrap: nowrap;
                justify-content: space-between;
                li {
                    width: 48%;
                }
                .btn {
                    padding: 12px 8px;
                    min-height: 44px;
                    background: #FFFFFF;
                    border-radius: 4px;
                    width: 100%;
                    .btn_icon {
                        margin-#{$right}: 8px;
                    }
                    &.facebook {
                        background-color: #1877F2;
                        color: $white;
                    }
                    &:hover {
                        opacity: 0.8;
                    }
                }
            }

            .shared {
                min-height: 43px;
                width: 100%;
            }

        }
    }
}