.main-slider {
    overflow: hidden;
    position: relative;
    background-color: $white;
    background-image: url('../../images/sliderBG.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    .swiper-slide {
        background-position: center;
        background-repeat: no-repeat;
        // background-size: contain;
        background-size: 50% 85%;
        background-position: #{$right};
        height: 80vh;
        display: flex;
        align-items: center;

        @include max992 {
            background-image: none !important;
            height: 400px;
        }

        @include max576 {
            height: 350px;
        }

        .slider-content {
            @include max992 {
                padding: 0 20px;
                text-align: center;
            }

            h1 {
                font-family: $tajwal;
                font-weight: 700;
                font-size: 37px;
                line-height: 40px;
                margin-bottom: 16px;
                letter-spacing: 0px;
                color: $primary-color;

                @include max992 {
                    font-size: 30px;
                }

                @include max768 {
                    font-size: 22px;
                    line-height: 30px;
                }
            }

            .m_actions {
                display: flex;
                margin-top: 20px;

                @include max992 {
                    justify-content: center;
                }

                li {
                    &:not(:last-of-type) {
                        margin-#{$right}: 10px;
                    }

                    .shared {
                        min-height: 41px;
                        min-width: 125px;

                        @include min992 {
                            font-size: 16px;
                        }

                        &::after {
                            top: 7px;
                        }
                    }
                }
            }
        }
    }

    .swiper-buttons {
        position: relative;
        transform: none;
        min-width: 70px;
        width: 70px;
    }

    .swiper-buttons {
        bottom: 114px;
        #{$right}: auto;
        #{$left}: 0;

        @include max992 {
            position: absolute;
            right: auto;
            left: 50%;
            bottom: 0;

            transform: translateX(-50%);
        }
    }

    .swiper-button {

        &-prev,
        &-next {
            //    color: red;
        }
    }

    &.main_section.our_products {
        background-color: transparent;
        background-image: none;
        background-position: #{$right};
        position: relative;
        padding: 50px 0;

        //temp
        // background-size: 58% 100%;
        @include max992 {
            background-image: none !important;
        }

        &::after {
            content: '';
            background-image: url('../../images/sliderBG.png');
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            top: 0;
            #{$right}: 82px;
            width: 50%;
            height: 100%;
        }

        .single_product {
            background-color: transparent;
            position: relative;
            z-index: 2;

            .text .sub_title {

                color: $primary-color;
            }

            .download {
                display: flex;
                align-items: center;
                margin: 40px 0 25px;

                @include max992 {
                    justify-content: center;
                }

                li {
                    &:not(:last-of-type) {
                        margin-#{$right}: 15px;
                    }

                    img {
                        height: 40px;
                    }
                }
            }

            .zaka_logo {
                display: inline-block;
                max-width: 200px;
            }
        }

        &.with_img {
            &::after {
                height: 85vh;
            }

            .img {
                height: 85vh;
                text-align: #{$right};

                img {
                    height: 100%;
                }
            }

            &.hero_op_slider {
                .img {

                    img {
                        width: 80%;
                        height: auto;

                        @include max992 {
                            width: 100%;
                        }
                    }
                }
            }

            &.waiters_slider {
                .single_product {
                    align-items: flex-start;

                    .text {
                        .sub_title {
                            margin-top: 20px;
                        }
                    }
                }
            }
        }
    }

}

.sec1 {
    .pattern {
        text-align: center;
        margin-bottom: 50px;
    }

    .images {
        .large_image {
            border-top-#{$right}-radius: 40px;
            border-bottom-#{$right}-radius: 40px;
            // height: 902px;
            height: 775px;
            max-height: 902px;

            @include max992 {
                width: 100%;
                height: 350px;
                border-radius: 20px;
                margin-top: 20px;
            }

            img {
                border-top-#{$right}-radius: 40px;
                border-bottom-#{$right}-radius: 40px;
                height: 100%;
                width: 100%;

                @include max992 {
                    border-radius: 20px;
                }
            }
        }

        .small_image {
            border-top-#{$left}-radius: 40px;
            margin-bottom: 20px;
            // height: 445px;
            height: 350px;
            max-height: 445px;

            @include max992 {
                width: 100%;
                height: 250px;

            }

            img {
                border-top-#{$left}-radius: 40px;
                height: 100%;

                @include max992 {

                    width: 100%;
                    height: 250px;
                    border-radius: 20px;
                }
            }
        }

        .text {
            background-color: #4F9FB7;
            border-bottom-#{$left}-radius: 40px;
            padding: 50px;
            padding-#{$right}: 20px;
            // height: 437px;
            height: 404px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @include max992 {
                border-radius: 20px;
            }

            .title {
                color: $white;
                font-size: 28px;
                line-height: 34px;
                margin-bottom: 50px;
            }

            .desc {
                color: $white;
                font-size: 14px;
                height: 95px;
                overflow: hidden;
            }
        }
    }

    &.anaylsis {
        background-color: #F8F8F8;

        .images {
            .large_image {
                border-radius: 0;
                border-top-#{$left}-radius: 40px;
                border-bottom-#{$left}-radius: 40px;

                @include max992 {
                    border-radius: 20px;
                }

                img {
                    border-radius: 0;

                    border-top-#{$left}-radius: 40px;
                    border-bottom-#{$left}-radius: 40px;

                    @include max992 {
                        border-radius: 20px;
                    }
                }
            }

            .small_image {
                border-radius: 0;
                border-top-#{$right}-radius: 40px;

                img {
                    border-radius: 0;
                    border-top-#{$right}-radius: 40px;

                    @include max992 {
                        border-radius: 20px;
                    }
                }
            }

            .text {
                background-color: #4F9FB7;
                border-radius: 0;
                border-bottom-#{$right}-radius: 40px;
                // padding:  62px 50px;
                padding-#{$right}: 20px;

                @include max992 {
                    border-radius: 20px;
                }

            }
        }
    }

    &.finance {
        margin-top: 80px;
    }
}

.our_products {
    background-color: #F8F8F8;

    .single_product {
        background-color: $white;
        border-radius: 28px;
        margin-bottom: 30px;
        align-items: center;

        @include max992 {
            text-align: center;
        }

        .col-lg-6 {
            padding: 0;
        }

        .text {
            padding: 20px 40px;

            .sub_title {
                display: flex;
                align-items: center;
                font-size: 18px;
                color: $secondary-color;
                font-weight: 500;

                @include max992 {
                    justify-content: center;
                }

                img {
                    margin-#{$left}: 8px;
                }
            }

            .title {
                font-weight: 700;
                color: $primary-color;
                line-height: 40px;
                margin: 20px 0;
            }
        }
    }

    .m_actions {
        display: flex;
        margin-top: 20px;

        @include max992 {
            justify-content: center;
            margin-bottom: 15px;
        }

        li {
            &:not(:last-of-type) {
                margin-#{$right}: 10px;
            }

            .shared {
                min-height: 41px;
                min-width: 133px;

                @include min992 {
                    font-size: 16px;
                }

                &::after {
                    top: 7px;
                }
            }
        }
    }
}

.solutions {
    background-color: $primary-color;

    .sec_title {
        .title {
            color: $white;
        }
    }

    .solution {
        text-align: center;
        background-color: $white;
        border-radius: 50px;
        padding: 50px;
        margin-bottom: 20px;
        color: $black;
        min-height: 260px;
        transition: all 0.3s ease-in-out;

        @include max1200 {
            padding: 20px;
        }

        .title {
            font-weight: 700;
            margin: 10px 0;
            font-size: 16px;
        }

        .desc {
            color: $black;
            transition: all 0.3s ease-in-out;

        }

        &:hover {
            transform: translateY(-10px);
            background-color: $secondary-color;
            color: $white;

            img {
                filter: brightness(55);
            }

            .desc {
                color: $white;
            }
        }
    }

    &.anaylsis {
        background-color: $white;

        .sec_title {
            .title {
                color: $primary-color;
            }
        }

        .solution {
            background-color: #4F9FB7;
            padding: 30px;

            .title {
                color: $white;
            }

            .desc {
                text-align: #{$left};
                color: $white;
            }

            .list {
                text-align: #{$left};
                padding-#{$left}: 25px;
                margin-top: 15px;

                .list_item {
                    color: $white;
                    margin-bottom: 5px;
                }
            }

            &:hover {
                background-color: $primary-color;
            }
        }
    }

    &.print {
        background-color: #F8F8F8;

        .sec_title {
            @include max992 {
                text-align: center;
            }
        }
    }

    &.delivary {
        background-color: transparent;

        .sec_title {
            .title {
                color: $primary-color;
            }
        }

        .items {
            background-color: #4F9FB7;
            padding-top: 50px;
        }
    }
}

.quick_contact {
    background-color: $white;

    @include max992 {
        text-align: center;
    }

    .text {
        .title {
            font-weight: 700;
            margin: 50px 0;
            font-size: 40px;

            @include max1200 {
                margin: 20px 0;
                font-size: 25px;
            }
        }
    }

    .proForm {
        background-color: #F8F8F8;
        border-radius: 40px;
        padding: 60px;

        @include max1200 {
            padding: 25px;
        }

        .iconType {
            margin-bottom: 25px;

            &.last {
                margin-top: 40px;

                @include max992 {
                    margin-top: 25px;
                }
            }
        }

        .shared {
            display: inline-flex;
            min-width: 133px;
            margin-top: 40px;

            @include min992 {
                font-size: 16px;
            }
        }
    }
}

.app {
    background-color: #4F9FB7;

    @include max992 {
        padding-top: 30px;
    }

    .text {
        .title {
            font-weight: 700;
            margin-bottom: 50px;
            font-size: 40px;
            color: $white;
            text-align: center;

            @include max1200 {
                margin-bottom: 20px;
                font-size: 25px;
            }
        }

        .download {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 25px;

            li {
                &:not(:last-of-type) {
                    margin-#{$right}: 15px;
                }

                img {
                    // height: 40px;
                }
            }
        }
    }

    .img {
        @include max992 {
            text-align: center;

            img {
                width: 50%;
            }
        }
    }
}

.clinets {
    .swiper-container {
        overflow: hidden;

    }

    .swiper-slide {
        text-align: center;
    }
}

.contact_us {
    .custom_form {
        background-color: #F8F8F8;
        border-radius: 40px;
        display: flex;

        @include max992 {
            display: block;
        }

        .contact_text {
            min-width: 495px;
            background-color: #4F9FB7;
            border-radius: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            @include max992 {
                min-width: auto;
                padding: 25px;
            }

            .title {
                color: $white;
                font-size: 45px;
                font-weight: 700;
                margin-top: 10px;

                @include max992 {
                    font-size: 25px;
                }
            }

            .phone_content {
                display: flex;
                justify-content: center;
                color: #FFF;

                span {
                    padding: 0 8px;
                }

                a {
                    color: #FFF;
                    transition: all 0.3s ease-in-out;
                    direction: ltr;
                    font-size: 18px;

                    &:hover {
                        color: $secondary-color;
                    }
                }
            }
        }
    }
}

.sec2 {

    background-color: $white;
    // background-image: url('../../images/sliderBG.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;

    &::after {
        content: url('../../images/sliderBG.png');
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .content {
        position: relative;
        z-index: 2;
        align-items: center;
        margin-bottom: 170px;

        @include max992 {
            margin-bottom: 70px;
            text-align: center;
        }

        .text {
            @include max992 {
                margin: 30px 0;
            }

            .title {
                font-size: 40px;
                font-weight: 700;
                color: $primary-color;
            }

            .desc {
                color: #212121;
                font-size: 18px;
            }
        }
    }
}

.features {
    background-color: transparent;

    .sec_title {
        .title {
            color: $primary-color;
        }
    }

    .solution {
        text-align: center;
        margin-bottom: 60px;

        @include max992 {
            margin-bottom: 40px;
        }

        .icon {
            margin-bottom: 20px;
        }
    }

}

.hero_op {
    .sec_title {
        .desc {
            margin: 0;
            max-width: 100%;
        }

    }

    .container {
        >.row .row {

            position: relative;

            div {
                position: relative;
                z-index: 2;
            }

            .img {
                text-align: center;
            }

            &::after {
                content: '';
                background-image: url('../../images/sliderBG.png');
                background-repeat: no-repeat;
                background-size: contain;
                background-position: #{$left};
                position: absolute;
                top: 0;
                #{$left}: 14%;
                width: 100%;
                height: 100%;

                @include max992 {
                    display: none;
                }
            }
        }
    }
}

.hr {
    &.BG {
        background-color: #F8F8F8;
    }

    .solution {
        .title {
            font-size: 22px;
            color: $primary-color;
            font-weight: bold;
            margin-bottom: 30px;
        }

        .desc {
            font-size: 22px;
            color: $primary-color;
        }
    }

}

.waiters {
    .img {
        min-height: 350px;
        display: flex;
        align-items: center;
    }
}

.table_number {
    .sec_title {
        text-align: #{$left};

        @include max992 {
            text-align: center;
            margin-top: 25px;
        }
    }

    &.outdoor_table {

        .sec_title {
            .title {
                margin-bottom: 40px;
            }
        }

        .img {
            border-radius: 26px;

            img {
                border-radius: 26px;
            }
        }

        &.solutions {
            .sec_title {
                .desc {
                    color: $white;
                }
            }
        }
    }
}

.se1_bg {
    background-color: #F8F8F8;
}

.towers {
    .tower {
        @include max992 {
            margin-bottom: 40px
        }

        .img {
            text-align: center;
            min-height: 450px;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            margin-bottom: 50px;

            @include max992 {
                min-height: auto;
                margin-bottom: 20px;
            }
        }

        .sec_title {
            margin-bottom: 0;
        }
    }
}

.upgrad {
    &__box {
        position: relative;
        padding: 80px 0;
        width: 86%;

        @include max992 {
            width: 100%;
        }

        * {
            position: relative;
            z-index: 2;
        }

        &::after {
            content: '';
            background-image: url('../../images/sliderBG.png');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            position: absolute;
            top: 0;
            #{$right}: 0;
            #{$left}: 0;
            width: 100%;
            height: 100%;


        }
    }
}

.space_white {
    background-color: $white;
    height: 100px;

    @include max992 {
        height: 40px;
    }
}