.pricing {
    // direction: $rtl;
    position: relative;

    padding: 50px 0;
    background-color: #fff;

    .pricing_container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        @include max992 {
            display: block;
        }
    }

    .price_div {
        width: calc(100% - 300px);

        @include max992 {
            width: 100%;
        }
    }

    .h2_title {
        color: $primary-color;
        font-size: 50px;

        @include max576 {
            font-size: 30px;
        }

        span {
            font-weight: 700;
        }
    }

    .tags {
        display: flex;
        flex-wrap: wrap;
        margin: 40px 0;

        @include max576 {
            margin: 20px 0;
        }

        .tag {
            border-radius: 6px;
            border: 1px solid #bebcbc;
            color: #bebcbc;
            text-align: center;
            padding: 7px;
            margin-bottom: 5px;

            &:not(:last-of-type) {
                margin-#{$right}: 12px;
            }

            &.active {
                color: $primary-color;
                border-color: $primary-color;
            }
        }
    }

    .products {
        .product {
            padding: 36px 0;

            .container {
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    #{$left}: 0;
                    top: 0;
                    width: 1px;
                    height: 100%;
                    background-color: #68c8de;
                }
            }

            .title {
                font-size: 35px;
                color: $primary-color;
                margin-bottom: 15px;

                @include max576 {
                    font-size: 20px;
                }

                span {
                    font-weight: 700;
                }
            }

            .form-group {
                display: flex;
                align-items: center;

                .form-control {
                    width: 105px;
                    height: 40px;
                    margin-#{$right}: 8px;
                }

                .amount {
                    font-size: 14px;
                    color: $primary-color;

                    span {
                        font-weight: 700;
                    }
                }
            }

            .items {
                display: flex;
                flex-wrap: wrap;

                .item {
                    display: flex;
                    align-items: center;
                    border: 1px solid $primary-color;
                    border-radius: 8px;
                    padding: 12px;
                    min-width: 320px;
                    margin-bottom: 12px;
                    cursor: pointer;

                    @include max360 {
                        min-width: 300px;
                    }

                    &:not(:last-of-type) {
                        margin-#{$right}: 12px;
                    }

                    .img {
                        min-width: 56px;
                        margin-#{$right}: 8px;
                    }

                    .text {
                        width: calc(100% - 35px);
                    }

                    .item_head {
                        display: flex;
                        justify-content: space-between;

                        .item_title {
                            font-size: 18px;
                            color: $primary-color;

                            span {
                                font-weight: 700;
                            }
                        }

                        .form-check {
                            padding: 0;
                            min-width: 25px;
                            display: flex;
                            justify-content: flex-end;

                            .form-check-input {
                                margin: 0;
                                cursor: pointer;
                                box-shadow: none;

                                &:checked {
                                    background-color: $secondary-color;
                                    border-color: $secondary-color;
                                }
                            }
                        }
                    }

                    .info {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        .amount {
                            font-size: 14px;
                            color: $primary-color;

                            span {
                                font-weight: 700;
                            }
                        }

                        .fa-question-circle {
                            color: #68c8de;
                        }
                    }
                }
            }

            &.even,
            &:nth-child(even) {
                background-color: #f8f8f8;
            }
        }
    }

    .payment_box {
        position: sticky;
        min-width: 300px;
        width: 400px;
        top: 150px;
        #{$left}: 0;
        background-color: $white;
        box-shadow:
            0px 15px 20px rgba(0, 0, 0, 0.1607843137),
            0px -4px 20px rgba(0, 0, 0, 0.1607843137);
        border-radius: 19px;
        padding: 30px;
        height: calc(80vh);
        overflow-y: auto;

        @include max992 {
            position: static;
            margin: 40px auto;
            height: auto;
        }

        @include max576 {
            min-width: unset;
            width: auto;
        }

        .nav-pills {
            margin-bottom: 40px;
            justify-content: space-between;

            @include max576 {
                display: block;
            }

            .nav-item {
                &:not(:last-of-type) {
                    margin-#{$left}: 10px;

                    @include max576 {
                        margin-#{$left}: 0;
                    }
                }

                @include max576 {
                    margin: 0 0 5px 0;
                }

                .nav-link {
                    border: 1px solid #707070;
                    border-radius: 21px;
                    color: #707070;
                    min-width: 132px;
                    padding: 5px;
                    font-size: 20px;
                    font-weight: 700;

                    &.active {
                        color: $white;
                        background-color: $secondary-color;
                        border-color: $secondary-color;
                    }

                    @include max576 {
                        width: 100%;
                    }

                    // .nav-pills .show>.nav-link
                }
            }
        }

        .content {
            .list_items {
                margin-bottom: 50px;

                .item {
                    border: 1px solid $primary-color;
                    color: $primary-color;
                    border-radius: 20px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 10px;
                    padding: 5px 15px;

                    .title {
                        font-size: 20px;
                        font-weight: 700;
                    }

                    .price {
                        font-size: 25px;
                        font-weight: 700;
                    }
                }
            }

            .Subtotal {
                text-align: center;
                font-size: 18px;

                span {
                    font-weight: 700;
                    font-size: 20px;
                    padding-#{$right}: 8px;
                }
            }

            .tottal {
                text-align: center;
                font-size: 20px;
                font-weight: 700;
                border-top: 1px solid #707070;
                padding-top: 25px;
                margin-top: 25px;

                span {
                    font-size: 30px;
                }
            }

            .proForm {
                margin-top: 50px;

                .form-group {
                    position: relative;

                    .mandatory {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        #{$left}: -10px;
                        color: $secondary-color;
                    }

                    .shared {
                        width: 100%;
                        border-radius: 25px;
                        background-color: #18c488;
                        border-color: #18c488;
                        color: $white;

                        &:hover {
                            background-color: $secondary-color;
                            border-color: $secondary-color;
                        }
                    }
                }
            }
        }
    }
}

.pricing.new_pricing {
    .container-fluid {
        width: 98%;
    }
    .price_div {
        width: calc(100% - 424px);

        @include max992 {
            width: 100%;
        }
    }

    .products {
        border-radius: 14px;
        border: 1px solid #73cce6;
        margin-bottom: 30px;

        .product {
            padding: 8px;
            padding-#{$left}: 20px;

            @include max992 {
                padding-#{$left}: 20px;
            }

            .items {
                .item {
                    display: block;
                    min-width: auto;
                    width: 32%;

                    @include max992 {
                        width: 48%;
                    }

                    @include max576 {
                        width: 100%;
                    }
                    .img {
                        min-width: 35px;
                        width: 35px;
                    }
                    .top {
                        display: flex;
                        align-items: center;
                    }

                    .bottom {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-top: 12px;

                        .form-group {
                            margin-bottom: 0;

                            .form-control {
                                width: 57px;
                                height: 27px;
                                padding: 5px;
                                text-align: center;
                            }

                            .note {
                                color: $primary-color;
                                margin: 0;
                                font-size: 11px;
                            }
                        }

                        .fa-question-circle {
                            color: #68c8de;
                        }
                    }
                }
            }
        }

        .sub_products {
            background-color: #f8f8f8;
            border: 1px solid #73cce6;
            border-radius: 14px;
            padding: 8px;
            padding-#{$left}: 20px;

            @include max992 {
                padding-#{$left}: 20px;
            }

            .top_sub {
                display: flex;
                justify-content: space-between;

                .title {
                    display: flex;
                    align-items: center;
                    margin-bottom: 15px;
                    img {
                        width: 35px;
                    }
                    p {
                        margin-#{$left}: 10px;
                        font-size: 30px;

                        @include max992 {
                            font-size: 20px;
                        }

                        @include max576 {
                            font-size: 16px;
                        }

                        span {
                            font-weight: bold;
                        }
                    }
                }

                .form-check {
                    padding: 0;
                    display: flex;
                    flex-direction: column;

                    .form-check-input {
                        margin: 0 0 5px 0;
                        cursor: pointer;
                        box-shadow: none;

                        &:checked {
                            background-color: $secondary-color;
                            border-color: $secondary-color;
                        }
                    }
                }

                .fa-question-circle {
                    color: #68c8de;
                }
            }

            .yearly_price {
                display: flex;
                align-items: center;
                color: $primary-color;
                margin-bottom: 15px;

                .form-control {
                    width: 134px;
                    height: 46px;
                    padding: 5px;
                    text-align: center;
                }

                p {
                    color: $primary-color;
                    font-size: 25px;
                    padding-#{$left}: 10px;

                    span {
                        font-weight: bold;
                    }
                }
            }

            .product {
                padding: 0;

                .items {
                    .item {
                        cursor: auto;

                        .fa-question-circle {
                            color: #68c8de;
                        }
                    }
                }
            }
        }

        &.single {
            border-color: $primary-color;

            .sub_products {
                padding: 0;
                border: 0;
                background-color: transparent;
                .product {
                    background-color: transparent;
                    .items {
                        .item {
                            width: auto;
                            min-width: 288px;
                            max-width: 50%;

                            @include max992 {
                                max-width: 100%;
                                width: 48%;
                            }

                            @include max576 {
                                width: 100%;
                                min-width: auto;
                            }
                        }
                    }
                }
            }
        }
    }

    .payment_box {
        background: #ffffff;
        box-shadow: 0px 15px 20px #00000029;
        position: sticky;
        // min-width: 300px;
        // width: 400px;
        top: 100px;
        height: auto;
        overflow: hidden;
        @include max992 {
            position: static;
            
            height: auto;
        }
        .table_box {
            max-height: 170px;
            overflow-y: auto;
        }
        .table-responsive {
            .table {
                & > :not(:first-child) {
                    border: 0px !important;
                }

                th {
                    border-bottom-width: 0px !important;
                    border-bottom-color: transparent;
                }

                td {
                    vertical-align: middle;
                    border-bottom-color: #e2e2e2;

                    .item {
                        display: flex;
                        align-items: center;

                        .img {
                            // border: 1px solid $primary-color;
                            border-radius: 10px;

                            img {
                                min-width: 25px;
                                width: 25px;
                            }
                        }

                        p {
                            color: $primary-color;
                            font-weight: 400;
                            padding-#{$left}: 5px;
                        }
                    }
                }
            }
        }

        .numbers {
            padding: 15px;

            .subtotal {
                color: $primary-color;
                display: flex;
                justify-content: space-between;
                margin-bottom: 10px;
                span {
                    font-size: 18px;
                    font-weight: bold;
                }
            }
            .discount_input {
                position: relative;
                .invalid_message {
                    display: none;
                    color: #ef4350;
                }
                .valid_icon {
                    display: none;
                    position: absolute;
                    bottom: 10px;
                    #{$right}: 10px;
                }
                .form-control {
                    border-style: dashed;
                    border-radius: 0;
                    border-color: #707070;
                    border-width: 0.5px;
                    color: #778baa;

                    &::placeholder {
                        color: #778baa;
                    }
                }
                .btn {
                    position: absolute;
                    bottom: 3px;
                    #{$right}: 10px;
                    color: #ef4350;
                    font-size: 15px;
                    font-weight: 600;
                }
                &.is-invalid {
                    .invalid_message {
                        display: block;
                        text-align: center;
                    }
                    .form-control {
                        border-color: #ef4350;
                        color: #ef4350;
                    }
                }
                &.is-valid {
                    .form-control {
                        border-color: #0f7e03;
                        color: #0f7e03;
                    }
                    .valid_icon {
                        display: block;
                    }
                }
            }
            .action_btn {
                margin: 15px 0;
                .btn {
                    width: 100%;
                    background-color: #078d26;
                    border-color: #078d26;
                    text-transform: uppercase;
                    font-size: 18px;
                    min-height: 29px;
                    line-height: 12px;
                    &:hover {
                        background-color: $primary-color;
                        border-color: $primary-color;
                        color: $white;
                    }
                }
            }
        }

        .content {
            .subtotal {
                text-align: center;
                font-size: 18px;

                span {
                    font-weight: 700;
                    font-size: 20px;
                    padding-#{$right}: 8px;
                }
            }

            .tottal {
                text-align: center;
                font-size: 20px;
                font-weight: 700;
                border-top: 1px solid #707070;
                padding-top: 25px;
                margin-top: 25px;

                span {
                    font-size: 30px;
                }
            }

            .proForm {
                margin-top: 50px;

                .form-group {
                    position: relative;

                    .mandatory {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        #{$left}: -10px;
                        color: $secondary-color;
                    }

                    .shared {
                        width: 100%;
                        border-radius: 25px;
                        background-color: #18c488;
                        border-color: #18c488;
                        color: $white;

                        &:hover {
                            background-color: $secondary-color;
                            border-color: $secondary-color;
                        }
                    }
                }
            }
        }
    }
}

.tooltip.bs-tooltip-top {
    .tooltip-arrow {
        border-color: #fff;
    }
    .tooltip-inner {
        background-color: #fff;
        box-shadow: 0px 3px 5px #0000004d;
        border: 1px solid #041d3a;
        color: $primary-color;
        padding: 10px;
    }
}
