$left: right;
$right: left;

$ltr: rtl;
$rtl: ltr;

@import "../utilities/variableAr";
@import "../utilities/normalize";
@import "..//utilities/mediaQuery";
@import "../utilities/mixins";

/*components*/

@import "../components/header";
@import "../components/footer"; 
@import "../components/donaiteCard"; 
@import "../components/breadCrump";
@import "../components/login";

/*pages*/

@import "../pages/home"; 
@import "../pages/pricing"; 

/*only ar*/
@import "../utilities/AR";