// @font-face {
//     font-family: font-r;
//     font-weight: 400;
//     src: url("../../fonts/ArbFONTS-Sukar-Regular.otf"), url("../../fonts/ArbFONTS-Sukar-Regular.ttf");
// }
// @font-face {
//     font-family: font-b;
//     font-weight: 700;
//     src: url("../../fonts/ArbFONTS-Sukar-Bold.ttf"), url("../../fonts/ArbFONTS-Sukar-Bold.ttf");
// }
// @font-face {
//     font-family: font-n;
//     font-weight: 400;
//     src: url("../../fonts/TuesdayNight-Regular.otf");
// }
// @font-face {
//     font-family: font-ad;
//     font-weight: 400;
//     src: url("../../fonts/alsamt_diwani.ttf");
// }

