@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500;700;800;900&display=swap');

 
$tajwal: Tajawal;

// font-family: 'Tajawal', sans-serif;

/****************/


/*  Colors */
$white : #FFF;
$black : #000;
$dark : #393939; 
$mainBG: #F2F2F2;
 
$primary-color : #041D3A;
$primary-400 : #929292;
 
$secondary-color : #E82A3E;